[2021-03-22 18:23] cansavvy opened #1 "Idea: Would it be helpful to make this a Github Template repository?"
### Summary:

The bigger question related to this idea is how we expect to use this template to start. Something we might eventually want to add a section in the README once the template is ready to go.

It seems that the [main advantage toward using a template repository](https://hub.packtpub.com/github-introduces-template-repository-for-easy-boilerplate-code-management-and-distribution/) as comp

[2021-03-24 18:43] jtleek commented on #1
I think this is a great idea @carriewright11 can we make this a template repo?

[2021-03-24 19:22] carriewright11 commented on #1
Should be a template repo now. Thanks for the suggestion!

[2021-03-25 23:17] #1 closed, assigned to nobody

[2021-04-02 15:49] cansavvy opened #3 "What should be included in the READMEs for the courses? (Template READMEs)"
### Background

I was browsing the course repos made from this template so far and was hoping to see a link to the rendered version or the LeanPub in the README: https://github.com/jhudsl/ITCR_Cancer_Research_Leadership/blob/main/README.md

### Idea/Thing to discuss:
What basic items a course README should have? Before the template is used and multiplied a bunch of times it would probably be good

[2021-04-05 13:35] cansavvy commented on #3
Thinking a bit more about this^ I think it makes sense to put that information in a `CONTRIBUTING.md` document that will instruct individuals on everything they need to know to contribute content.

[2021-04-05 13:45] cansavvy opened #5 "Create/add more to a CONTRIBUTING.md document"
### Summary

With multiple people working on this project (and presumably more people in the future), it would be a good time now to set up a CONTRIBUTING.md that can guide contributors to this material on what they need to know to contribute.

This kind of doc will make the time/effort it takes for people to contribute lower and also aid in the consistency across the courses regardless of who dev

[2021-04-05 15:08] cansavvy opened #6 "What are the permissions settings for this repository?"
### Summary:

I was trying to set up a pull request with some minor suggested edits but even with my being added to jhudsl, and me trying a few different ways around it, it will not let me push a new branch to this repo.

If we can, it would be good to have the `main` branch protected (no direct pushes allowed) and then allow any people to push other branches with changes as pull requests (but don

[2021-04-05 23:22] cansavvy commented on #6
In the meeting today we changed the settings. This should be set now.

[2021-04-05 23:22] #6 closed, assigned to nobody

[2021-04-05 23:23] cansavvy commented on #5
This issue will be blocked for a bit until some of the other buggy issues are resolved and we know for sure what this process will look like.

[2021-04-06 04:21] cansavvy opened #10 "How do we want to manage software requirements"
This will be less relevant for courses that aren't as much code needing to be run, but will definitely be something we want to thinking about for courses with code that needs to be run.

I am most familiar with using Docker https://www.docker.com for this purpose.

We would mainly use a Docker image and container for development but depending on the user target for a course, we could definitely of

[2021-04-06 14:08] muschellij2 commented on #10
I would think Docker would work but also having a script run on GitHub actions will likely be sufficient for some of the work.  Otherwise, I think we'd assume software would be installed locally.  Alternatively, it can be installed when run and then removed when the book is completed.

[2021-04-06 14:26] cansavvy commented on #10
GitHub actions will work more nicely if we give it the same Docker image to run in as we are developing in. Plus this will give more consistency for package versions between developers and the GitHub actions.

Additionally when software dependency entanglements occur, we will only need to fix them once on the docket container as opposed to each individual having to fix the issue locally.

[2021-04-06 18:31] carriewright11 commented on #3
all sounds good to me

[2021-04-07 18:11] cansavvy opened #19 "Split up Bookdown and Leanpub Repos"
### Summary

After talking with @jtleek and @carriewright11 , we're going to start splitting up the bookdown components from the Leanpub items.

This way content development with bookdown can move forward but later on we can add Leanpub quizzes and course functionality in an incremental manner.

Every course that wants quizzes would have two repositories:
If a course doesn't need quizzes or the fo

[2021-04-07 18:14] cansavvy commented on #19
That being said, I'm going to work on converting this current repo into the `bookdown` focused Repo and then create a separate repo for the Leanpub pieces and transfer some items that I've been working on over there.

[2021-04-07 18:42] cansavvy commented on #19
See the (rather bare currently) Leanpub focused repo here: https://github.com/jhudsl/ITCR_Course_Template_Leanpub

[2021-04-08 11:47] cansavvy commented on #10
Docker image is made and up on docker hub. The instructions in [CONTRIBUTING.md](https://github.com/jhudsl/ITCR_Course_Template_Bookdown/blob/main/CONTRIBUTING.md#setting-up-docker-image) describe how to get started (But I still need to add more info on adding packages).

[2021-04-08 12:05] cansavvy opened #21 "Set up a spell check and code styler"
### Summary

For spell checking, we can have the robots of Github Actions do this for us.

I'm going to borrow (and give credit to) some things myself and people at the CCDL wrote for a different repository: https://github.com/AlexsLemonade/refinebio-examples/blob/staging/.github/workflows/style-and-sp-check.yml

I'll add info to the CONTRIBUTING.md and how to use it when its set up.

[2021-04-08 12:07] cansavvy opened #22 "Add citation instructions to CONTRIBUTING.md"
### Summary

Looks like bookdown does a lot of this automatically, but we can add a blurb in the README that links out to https://bookdown.org/yihui/bookdown/citations.html

[2021-04-08 12:11] cansavvy opened #23 "Add a github URL checker"
### Summary

Another thing we should have robots of github actions do for us: check for broken URLs.

I've found a couple options:

This one's already set up as a gha, so I'll probably start there: https://github.com/marketplace/actions/url-checker

https://github.com/paramt/url-checker

[2021-04-08 16:17] #23 closed, assigned to nobody

[2021-04-08 16:17] cansavvy commented on #21
This is done! #25

[2021-04-08 16:17] #21 closed, assigned to nobody

[2021-04-08 16:18] cansavvy commented on #19
This has been done!

[2021-04-08 16:18] #19 closed, assigned to nobody

[2021-04-08 17:10] #10 closed, assigned to nobody

[2021-04-08 17:12] cansavvy commented on #22
Done!

[2021-04-08 17:12] #22 closed, assigned to nobody

[2021-04-09 14:46] carriewright11 opened #29 "docker instructions"
- maybe add the link for getting a docker account
- maybe add a check that Docker installed - just running Docker
- possibly add note that they might need to update docker if they get an error (I did :P)
- add a note that it will take some time to pull the docker image
- after starting up the image with the docker run command,  I needed to run docker ps in a different terminal window (as it was st

[2021-04-09 15:33] cansavvy commented on #29
This is great feedback! Thanks @carriewright11 I will file a PR to address these things!

[2021-04-09 16:35] cansavvy opened #30 "Add a github actions that automatically re-renders the bookdown?"
### Summary

It would be good to make sure that the bookdown always renders properly before changes are merged. As well as sometimes human brains forget to do things like re-render.

Would it be helpful for me to create a github action that automatically re-renders before merging to main?

[2021-04-09 16:54] cansavvy commented on #29
Docker just did a bunch of updates (or it seems that way from what my Docker looks like) so some of these images are either from an older version or specific to what computer you are using. 😢

I can definitely add some screenshots though if that'd be helpful.

[2021-04-09 20:15] carriewright11 commented on #29
yes, I think the images for pricing etc are a bit different - but the descriptions about what Docker is in general are probably still applicable. some if it is in the https://carriewright11.github.io/covid_epi/#accessing-the-required-r-and-python-tools-on-your-computer section  which shows possible differences in commands across operating systems .. might want to think about different shells - mig

[2021-04-09 20:21] cansavvy commented on #29
Cool! I'll take a look and file another PR.

[2021-04-09 21:19] carriewright11 commented on #30
Sure sounds good. Also I really love your spelling, style, and url checks!

[2021-04-11 00:05] cansavvy opened #32 "Issues that should automatically be filed with a new course?"
We can make it so when you use this template, issues that you can follow along to set up the course are automatically filed. We should think about what these are and how this might work in conjunction with the BaseCamp course template.

[2021-04-13 11:54] #30 closed, assigned to nobody

[2021-04-13 11:56] jtleek opened #34 "Rename contributing to getting started and add "contributor code of conduct""
@cansavvy can we rename the contributing.md to "getting started" and then add a contributor code of conduct?

[2021-04-13 11:57] jtleek opened #35 "Convert to dasl_course_template_bookdown"
At some point it would be good to create a more generic repo from this (if you haven't already and I missed it!) called dasl_course_template_bookdown that uses the more generic slide template etc @carriewright11 @cansavvy

[2021-04-13 12:02] cansavvy commented on #34
Sounds good! Do you have an example/ideas of what should be included in the contributor code of conduct?

[2021-04-13 12:12] cansavvy commented on #34
The one downside to changing the name of `CONTRIBUTING.md` is that Github does have automatic prompts to people when CONTRIBUTING.md changes or if they have not looked at it.

In regards to code of conduct Here's an example: https://www.contributor-covenant.org/version/2/0/code_of_conduct/code_of_conduct.md

It almost should be its own file that we link to in `getting_started.md` perhaps?

[2021-04-13 12:20] jtleek commented on #34
Yeah that is a downside :(. On the other hand I was just about to write
a message asking for a getting started guide because I couldn't find it,
then I realized that was the CONTRIBUTING.md .... I wonder if there is a
way we can just really bold the idea that the place to start is
contributing. I agree with the link out to a separate file for the code
of conduct!

On April 13, 2021, GitHub ***@***

[2021-04-13 12:24] cansavvy commented on #34
Currently I have in the README:

But if we thinking changing it to `getting_started.md` is still clearer, I'm fine with that.

[2021-04-13 12:25] jtleek commented on #34
I think it would be if thats ok

On April 13, 2021, GitHub ***@***.***> wrote:

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/jhudsl/ITCR_Course_Template_Bookdown/issues/34#issuecomment-
818693576>, or unsubscribe
<https://github.com/notifications/unsubscribe-
auth/AAL7WWUJSRUG4O2OTRLPI2TTIQZYHANCNFSM423GIBSA>.

[2021-04-13 14:05] carriewright11 commented on #35
Yes, will do after we get this one is more finalized.

[2021-04-13 15:40] cansavvy opened #38 "Switch from DockerHub to Github container registry"
### Summary

@muschellij2 has brought up that we should go for using github's container registry. Sounds like its free? Dockerhub is only free to a point which as the projects expand, we will probably go beyond that point.

https://docs.github.com/en/packages/guides/about-github-container-registry

What this means is that the render-bookdown.yml github actions from #33 will need to be switched to

[2021-04-13 15:58] cansavvy commented on #5
The items listed here are generally addressed. Will open new issues for new items.

[2021-04-13 15:58] #5 closed, assigned to nobody

[2021-04-14 18:20] #34 closed, assigned to nobody

[2021-04-14 19:16] cansavvy opened #39 "Automagically filling in template items"
@muschellij2 had an idea for a function that will automatically put the git repo in the bookdown yaml file on this PR:

https://github.com/jhudsl/ITCR_Documentation_and_Usability/pull/10#discussion_r613477563
I think items like this could be very useful! but I'm not exactly sure the best way to implement them just yet.

@muschellij2 's code from the above comment:
[code]

Ideally it would be great

[2021-04-14 20:53] cansavvy opened #41 "More Testing!"
### Summary

I wrote a lot of things in `getting_started.md`. I think they make sense, but we need other people to try them!

Whatever isn't clear we can document here and I will address and add clarity.

@carriewright11 I think was going to do some poking around and see if the github actions, spell check, styler and etc make sense and also whether any settings need to be tweaked.

[2021-04-14 20:54] carriewright11 commented on #41
sounds good - I am actually working on checking it right now :)

[2021-04-14 21:15] carriewright11 commented on #41
Looks great! - Some little suggestions - I made these check boxes for you but no need to do them if you decide to do something else:

**Set up branches section**
- [ ] since it is the first rule would be better to say "click `Add rule`" instead of `Add new rule`
- [ ] need to say to check the `Require status checks to pass before merging` then say to check the `Require branches to be up to date be

[2021-04-14 21:15] carriewright11 commented on #41
I'm trying out spelling errors etc to see how that works

[2021-04-14 21:48] carriewright11 commented on #41
Spelling checks all worked as anticipated and your directions were very clear about how to update the dictionary etc. Now working on style.

[2021-04-14 22:11] carriewright11 commented on #41
Stylr and docker changes all worked as anticipated and documentation was very clear. Maybe change the part about checking urls to say that you add it to the `blacklist`.

[2021-04-15 05:06] KatherineCox commented on #29
As someone who's never used Docker before (or at least, not locally and not from the command line), I had a bit of trouble following the Docker commands and knowing what I should be replacing with my own information (e.g. should I use `jhudsl/itcr_course_template` or something of my own?)

@carriewright11 's [explanations](https://github.com/carriewright11/covid_epi) were helpful

- clarified that

[2021-04-15 05:08] KatherineCox commented on #41
- Thanks very much for the advice on repository settings, I wouldn't have know to do this!
	- we don't require build-all?
- Should LICENSE be updated to CC-BY, or should we have instructions that course developers should update the LICENSE (and leave the template under MIT)?
- Looks like images should be placed in `resources/images/`?  Perhaps state this explicitly under ### Adding Images and Grap

[2021-04-15 05:10] KatherineCox commented on #32
It would be nice to have a list of the template files that needed editing (and any corresponding instructions or style guides).  I'm finding

- README.md
- index.Rmd
- About.Rmd
- _bookdown.yml
- `01-intro.Rmd`
- `02-chapter_of_course.Rmd`
- book.bib - we should leave the existing references, correct?
- packages.bib - we should leave the existing references, correct?
- I don't know what ITCR_Cours

[2021-04-15 10:27] cansavvy commented on #32
@KatherineCox This is a great idea! We can definitely set up issues to guide people to what needs to be edited!

[2021-04-15 10:28] cansavvy commented on #41
@KatherineCox and @carriewright11 thanks for this excellent feedback! I'm going to file a PR sometime today and attempt to address these ideas and comments!

[2021-04-15 10:54] cansavvy commented on #29
@KatherineCox This is great! Thanks for these insights! I'll incorporate more this into the getting_started.md!

[2021-04-15 11:17] cansavvy commented on #41
I'm actually not sure, @carriewright11 do you know?

Do you also have insights on this^, @carriewright11?

[2021-04-15 13:45] carriewright11 commented on #41
Yeah I think it is fine to update to CC-BY - I had made it MIT in earlier versions just because it is my default. But we can double check with Jeff

[2021-04-15 19:09] KatherineCox opened #44 "make bs4 book theme available"
On Basecamp we were talking about using the `bookdown::bs4_book()` theme - it looks like this is currently only available in the development version of bookdown, so we'd need to install bookdown from github until v0.22 is released

[2021-04-15 19:16] cansavvy commented on #44
We can add this as a possibility in the Dockerfile and document how to switch that in `getting_started.md`. I generally like to avoid development versions until they are officially determined to be stable. Do we know when v0.22 should be released approximately?

[2021-04-15 19:23] KatherineCox opened #45 "Workflow guidance (in getting-started)"
Since you need to make a commit and PR anyway to finish setting up the GitHub rules, it might be nice to walk people through their first two commits, making some of the initial changes to the template (e.g. setting the title).  This helps make sure they don't miss things and lets people see the usual workflow in action.

One way to do this:

## First commit

Under ## Creating your Course, before #

[2021-04-15 19:34] KatherineCox commented on #44
Yeah, I understand wanting to be careful about using dev versions.

From a quick look around the bookdown repo, I can't tell when it'll be released.

- Last release was October 2020, so it's been kind-of a long gap (previous releases were coming out every ~couple of months)
-  Milestone for v0.22 says April 30th but I've no idea how meaningful that is, and they don't seem to really be using Milest

[2021-04-15 19:47] cansavvy commented on #45
Thanks for this @KatherineCox , I have been working on setting up this kind of information (though perhaps not to this level of detail yet) as issues that can be set up: #43 I think perhaps we can combine these strategies!

[2021-04-16 14:00] #29 closed, assigned to cansavvy

[2021-04-16 14:00] #41 closed, assigned to nobody

[2021-04-19 20:41] cansavvy opened #46 "Script for syncing code output images to Google Slides"
### Summary

We need google slides to have the code output as well.

`rgoogleslides::` has some functionality that would be helpful for this.

We can use google slide ids to try to keep things consistent. But looking into how to automate changes to slides would be good.

[2021-04-19 20:50] cansavvy opened #47 "Layout more specific guidance on images"
Right now we are generally linking to GoogleSlide images. Because this keeps image changes updated, we probably want to stick with this strategy (and also keeping all image together in one slide deck).

But besides that, we shouldl determine and add to `getting_started.md`:

- How big does the Google slide need to be? (I made one extra large 1400 x1400 pixels so the res would be better).
- How sho

[2021-04-20 17:25] cansavvy opened #48 "Learning objectives format?"
Do we want learning objectives to always be in a slide format or text or are we not specific on either?

[2021-04-21 12:53] cansavvy opened #49 "Authorization for rgoogleslides fails when in the docker container"
### Summary

When I try to run `rgoogleslides::authorize()` inside a docker container, after I click `Allow` this happens:
This is true no matter the browser I use.

![Screen Shot 2021-04-20 at 3 49 25 PM](https://user-images.githubusercontent.com/23458084/115556687-ecf52580-a27e-11eb-84f0-63e840ab4ea8.png)

So if we do need to use `rgoogleslides`, which I think we will, I'll have to figure out a

[2021-04-21 19:20] KatherineCox commented on #48
Some thoughts:

- Text would be more parsable, if we ever wanted to do anything that pulled out and displayed the learning objectives somewhere.  I don't have a specific use in mind, so I'm not sure whether that should actually be a consideration, but it keeps the option open.
- On the other hand, if we wanted the learning objectives to be in videos as well as the front of the chapter, it makes mo

[2021-04-21 19:23] cansavvy commented on #48
I'm also inclined to stick with text instead of a slide. Easier to edit. Does @carriewright11 have thoughts?

[2021-04-21 19:24] KatherineCox commented on #48
For text appearance, at least within `bookdown` there's the option of adding some styling to make them stand out with this syntax:

`## Learning Objectives {.learning-objectives}`

and then a css file with e.g. (make the font in that section blue, just as an example)
[code]

A quick look at the leanpub markua spec suggests that markua would effectively ignore the `{.learning-objectives}`, so we'd

[2021-04-21 19:26] carriewright11 commented on #48
This is a good question- I was actually currently using the ITCR slide template to make mine. https://jhudatascience.org/ITCR_Cancer_Research_Leadership/guidelines-for-multidisciplinary-informatics-teams.html
I figured that way the video from the slides would have more information. Maybe we should ask Jeff about this.

[2021-04-21 19:37] cansavvy commented on #48
This will be relevant to the mechanics for transferring from bookdown to Leanpub. I'm fine with either, but whatever we choose we should probably be consistent.

And it does sound like no matter what we'll still need the learning objectives as a slide, so maybe the slide strategy makes sense?

[2021-04-21 21:49] carriewright11 commented on #48
Yeah, I think that makes sense for now.

[2021-04-21 22:25] muschellij2 opened #52 "Examples of different kind of embeddings"
I have created https://github.com/muschellij2/ITCR_Course_Template/blob/main/03-test_cases.Rmd to try to get some test cases in there can  you @cansavvy @carriewright11 maybe think of some other cases?  The really nice thing of the include_url is that if it's youtube, it puts the snapshot for you in there!

[2021-04-21 23:01] cansavvy commented on #52
You want us to add different ways of adding images or other media?

[2021-04-22 00:04] cansavvy commented on #39
The issue filer workflow is not working correctly but is almost there (I think) need to investigate the latest gha error.

[2021-04-22 13:48] cansavvy commented on #49
So if I set up the `.httr-oauth` file outside of Docker, and then go back to Docker, I can use rgoogleslides fine because it just pulls that authorization. I don't love this, and feel like there should be a better way around it but I don't know enough about firewalls and etc to have yet come up with a more elegant solution.

Will have to do some more digging. I haven't pinpointed the exact problem

[2021-04-22 14:26] cansavvy commented on #48
Okay so let's go with slides for learning objectives, I'll follow @carriewright11 's format she's been using in ITCR_Research_Leadership.

I'll switch over my learning objectives in ITCR_Documentation_and _Usability to be slides and I'll add a blurb in `getting_started.md` about this.

This will probably be easier for transferring to Leanpub purposes anyway. (I think).

[2021-04-22 16:30] muschellij2 commented on #52
I think flesh out the ways you'd add in examples - the test rmd is now in the main

[2021-04-22 16:52] #48 closed, assigned to nobody

[2021-04-22 20:15] cansavvy commented on #46
I'm working on a script that will sync code output with Google slides. It has some bugs to work out.

Can't quite figure out how to delete images though adding images is working fine.

Apparently the [`add_delete_object_request()` ](https://rdrr.io/cran/rgoogleslides/man/add_delete_object_request.html) function does not work for images? I wasn't sure if images counted as objects but it seems not.

[2021-04-22 20:18] #3 closed, assigned to nobody

[2021-04-22 20:19] cansavvy commented on #32
This isn't working. Need to look into the error.

[2021-04-23 13:43] cansavvy commented on #46
I am unable to create a blank slide anymore no matter what I try to do. I outlined the problem here and posted an issue to rgoogleslides' github: https://github.com/hairizuanbinnoorazman/rgoogleslides/issues/32

[2021-04-26 13:24] github-actions[bot] opened #63 "New Course - Set Repository Settings"
For more information on these settings see instructions in the [getting_started.md](./getting_started.md#recommended-repository-settings).

### Needed settings:

- [ ] Github pages is turned on.
- [ ] `Enforce HTTPS`has been checked

- [ ] `main` branch has been set up:
  - [ ] `Require pull request reviews before merging` box is checked.
  - [ ] `Require status checks to pass before merging` box

[2021-04-26 13:24] github-actions[bot] opened #64 "New Course - Templates to Edit"
The following files need to be edited to get this new course started!

### Files that need edited upon creating a new course.

- [ ] `README.md` - Fill in all the `{ }`.
- [ ] `index.Rmd` - the `author:`, `title:`, and `description:` should be updated.
- [ ] `About.Rmd` - Replace information with your own author information.
- [ ] `01-intro.Rmd` - replace the information there with information per

[2021-04-26 13:25] cansavvy commented on #63
This was a test! And it worked! Closing this now.

[2021-04-26 13:25] #63 closed, assigned to nobody

[2021-04-26 13:25] cansavvy commented on #64
This was also part of that test, closing now.

[2021-04-26 13:25] #64 closed, assigned to nobody

[2021-04-26 17:02] cansavvy commented on #49
Been trying to dig into this problem more. Don't really have leads for solutions. I know that rgoogleslides is using the R package: `httr`  to get authorization and this uses something called Oauth2 token authentication to do this.

I also know that you can't seem to run from command line: `Rscript -e "rgoogleslides::authorize()"` because it won't successfully open the interactive window it needs.

[2021-04-26 17:04] cansavvy opened #66 "getting_started.md needs more instruction about setting up git secrets"
For github actions to run properly, these are the github secrets that need to be set up:

Go to `settings` to see this list:

<img width="280" alt="Screen Shot 2021-04-26 at 1 03 24 PM" src="https://user-images.githubusercontent.com/23458084/116122458-cf192d80-a68f-11eb-968f-c929099c0882.png">

This needs to be described in `getting_started.md` and probably needs its own issue in issue-filer.

[2021-04-26 17:07] cansavvy commented on #35
I think this can be done, except for two issues that are potentially blocking it: #66 and #49

However if we don't think we need code output images to be refreshed with google slides then #49 is not blocking. But I should add instructions in regards to #66 before starting this issue.

[2021-04-26 19:10] cansavvy commented on #66
Done

[2021-04-26 19:10] #66 closed, assigned to cansavvy

[2021-04-26 19:12] cansavvy commented on #35
I figure we shouldn't wait for #49 to get resolved because I don't know how long that will take. We can just transfer over changes once its figured out.

But the more general repo template is now created and I'm in the process of de-ITCR-ing it: https://github.com/jhudsl/DaSL_Course_Template_Bookdown/pull/1

[2021-04-26 20:26] cansavvy opened #68 "Update GHA transfer file to also transfer .bib files"

[2021-04-26 21:33] cansavvy opened #69 "How to track users for Bookdown?"
We need some way to know how many people have been to which courses and which chapters.

Google Analytics does this, but do we have some subscription somewhere that we can use for this through JH?

[2021-04-26 22:15] cansavvy opened #70 "For Leanpub and tracking purposes download Google Slides images"
Borrow bits from https://github.com/jhudsl/tidyversecourse/blob/master/get_google_slides_images.R to download images.

Probably just store them in resources/images.

[2021-04-26 22:28] muschellij2 commented on #49
You need to pass in the token, it's default is `NULL` in `rgoogleslides::authorize`:

So you need to do (assuming token is in `.httr-oauth` or wherever mounted on Docker:
[code]

or simply `Rscript -e "rgoogleslides::authorize(token = readRDS(".httr-oauth"))`

Also may not be relevant, but another snag may that you want to try `library(rgoogleslides); authorize(token=token)` because of the behavio

[2021-04-26 22:34] cansavvy commented on #49
Thanks! This is helpful! But my main concern is how to instruct people to set up the `.httr-oauth` file in the first place? Is there a not janky way to have someone collect that file or token for their own account?

[2021-04-26 22:38] cansavvy commented on #49
Maybe this or something like it would be helpful? https://cran.r-project.org/web/packages/googleAuthR/vignettes/google-authentication-types.html

[2021-04-26 22:52] muschellij2 commented on #49
Yes, but I'd say, run `token = rgoogleslides::authorize(); saveRDS(token, file = "auth-place.rds")` or wherever you'd like to place the token rds.  You can also see https://gargle.r-lib.org/articles/non-interactive-auth.html for some other options, but `rgoogleslides` doesn't live in the `gargle*` family, but can take the client ID and secret from https://rdrr.io/github/hairizuanbinnoorazman/googl

[2021-04-26 22:59] cansavvy commented on #49
This is great! Will workshop this tomorrow!

[2021-04-27 15:55] cansavvy commented on #70
This is being implemented on #50

[2021-04-27 15:58] cansavvy commented on #49
I'm still finding the easiest way to get the `httr-auth` file is to just run through the authorize steps in a non-docker container and then push that file to github. I think this is what I will write in the getting_started.md as the steps for getting a Google Slides going.

These other options require Google Cloud Developer accounts or a lot of extra steps that seem more complicated and like a big

[2021-04-27 20:12] cansavvy commented on #49
So we can't just upload the httr-oauth file. My next idea is to just store the rgoogleslides token as a GitHub secret. That wouldn't help people out for local development necessarily but would make the github actions work fine.

I guess I need to think more about how often this script would need to be run locally if github actions really is doing the heavy lifting.

[2021-04-27 20:13] cansavvy commented on #49
My other concern is the set up for these courses from this template is growing more cumbersome the more github secrets we have. Probably also need to add some guidance about how to delete or modify some of these github actions if a course doesn't want or need them. Will make a new issue for that.

[2021-04-27 20:17] cansavvy opened #71 "getting_started.md needs advice on how to delete/modify github actions"
Depending on a course's needs, some of these github actions may be more of a nuisance than a help. I need to add to the getting started.md file about how to turn off a github actions, modify a github actions, or delete it entirely depending on the needs of the course.

- For example, if a course doesn't have a Leanpub repo associated with it, transfer-rendered-files.yml will be annoying and break.

[2021-04-27 20:52] cansavvy commented on #49
Ah. What if we supply the token upon building the Docker container through a Docker secret?
https://stackoverflow.com/questions/59143685/consume-secret-inside-dockerfile
https://docs.docker.com/engine/reference/commandline/secret_create/

[2021-04-28 17:17] cansavvy opened #74 "Add info about mario to OTTR and wiki"
I know video tutorials can be made automatically from GoogleSlides, but I don't know how. This is something we should have described in `getting_started.md`

I'm not sure about the details about how this is done. @muschellij2 is this something you can give some guidance on? I don't mind writing documentation for it but would need to be sent information.

[2021-04-28 17:26] muschellij2 commented on #74
`didactr::gs_ari` or `ariExtra::gs_to_ari` will get you really close (need `ffmpeg` installed) and an API key for one of the synthesis engines (google, amazon, or microsoft)

[2021-04-28 18:13] cansavvy commented on #46
This has generally been created and resolved but has #49 to work out yet. In the meantime I'll write how one could run this locally.

[2021-04-28 18:17] cansavvy opened #75 "Mysterious syntax error in render-bookdown.yml"
Unclear to me where the syntax error is here: https://github.com/jhudsl/ITCR_Course_Template_Bookdown/actions/runs/793579764/workflow

[2021-04-28 18:20] cansavvy commented on #49
My next plan or idea is looking into if there’s any easy way to grab GitHub secrets for local use if you have the right set of permissions.
Maybe this: https://git-secret.io/ has some useful functionality for this.

[2021-04-28 18:23] cansavvy commented on #47
This issue will be generally informed by @muschellij2 ‘s resolutions of https://github.com/jhudsl/ITCR_Course_Template_Leanpub/issues/22

[2021-04-29 16:49] cansavvy commented on #35
This issue is generally done! The more specific items will be tracked on the new repo: https://github.com/jhudsl/DaSL_Course_Template_Bookdown

[2021-04-29 16:49] #35 closed, assigned to cansavvy

[2021-04-29 16:49] cansavvy commented on #32
This works now and is documented!

[2021-04-29 16:49] #32 closed, assigned to cansavvy

[2021-04-29 16:50] cansavvy commented on #70
This is generally done, the only aspect held up is #49 and is tracked there.

[2021-04-29 16:50] #70 closed, assigned to nobody

[2021-04-29 18:46] KatherineCox commented on #47
Related, can we automate [this process](https://www.evernote.com/shard/s425/client/snv?noteGuid=fd22f17a-5b1e-c3d6-eb85-e47c20aa4b1d&noteKey=58951432cb4f6f996ad9a28df6852248&sn=https%3A%2F%2Fwww.evernote.com%2Fshard%2Fs425%2Fsh%2Ffd22f17a-5b1e-c3d6-eb85-e47c20aa4b1d%2F58951432cb4f6f996ad9a28df6852248&title=Google%2Bslides) for converting the slide link?  It's kinda annoying to do it by hand if you

[2021-04-29 19:31] muschellij2 opened #77 "Where do figures go"
I vote we say in every Rmd, if new_session = TRUE for bookdown (our default in _bookdown.yml), we do similar to: https://github.com/jhudsl/tidyversecourse/blob/master/05-prediction.Rmd#L4

[code]

[2021-04-29 19:32] muschellij2 commented on #77
Why would we do it this way?  It fixes any issues of code-generated figures when copying over to `manuscript` for leanpub from what I can tell.

[2021-04-29 19:56] cansavvy commented on #47
@KatherineCox This is great! I like this idea. I assum all renders fine by bookdown? If yes, do you mind adding this to the getting_started.md and the template Rmd? Either here or the DaSL template is fine and I can file a separate PR for the other one.

[2021-04-29 19:56] muschellij2 commented on #77
The other option is that we introduce a `_common.R`: https://github.com/rstudio/bookdown/issues/1049, but I havent' been able to get it to work yet

[2021-04-29 19:58] cansavvy commented on #77
Is there a way we can set `fig.path` globally in the bookdown.yml? I'll look, unless someone knows off the top of their head.

[2021-04-29 20:01] cansavvy opened #79 "Switch out url-checking GHA"
RIght now we use: https://github.com/marketplace/actions/url-checker

But its been a little glitchy - it falsely says some links are broken and doesn't have a great way to supply the urls to ignore.

I think this url checking gha might be better (or at least is worth a try):
https://github.com/marketplace/actions/urlchecker-action

It certainly has more input options!

[2021-04-29 20:01] cansavvy commented on #79
This would need to also be updated in: https://github.com/jhudsl/DaSL_Course_Template_Bookdown

[2021-04-29 20:03] cansavvy opened #80 "Thoughts: Keeping this and DaSL template updated concurrently is not great"
With only a few days of having DaSL and this template going, I'm finding the maintenance of both is a bit redundant and I'm worried about something falling through the cracks.

Basically whenever I make a change here I have to make a change over on the DaSL and its not a great system.
Not sure how or if there's a way to make this better, but I'm going to write this down in case anyone has ideas.

[2021-04-29 20:11] jtleek commented on #80
I think we urgently need to consolidate the two templates into just the DaSL template and a set of diffs for ITCR. What do you think @carriewright11 @cansavvy

[2021-04-29 20:16] cansavvy commented on #80
I think that's fine with me. I think we found through the process that the differences between the two templates is not actually that much.

[2021-04-29 20:17] cansavvy commented on #80
We could have a separate `getting_started.md` for ITCR courses vs Others just to make the process more clear?

[2021-04-29 20:20] cansavvy commented on #80
As well as we can make the differences more clear in the BaseCamp template and their associated ToDos.

[2021-04-29 20:21] carriewright11 commented on #80
I like that idea and maybe we can use rmarkdown templates that Katie has been suggesting so that aesthetics can be project specific. I am currently adding most of these with an _output.yml file for bookdown hopefully we could include that in an Rmarkdown template.

[2021-04-29 20:23] carriewright11 commented on #80
could consider submodules if we need to

[2021-04-29 20:24] carriewright11 commented on #80
but I'd rather do that if the other plan doesn't seem to be working

[2021-04-29 20:25] cansavvy commented on #80
Agreed. I'm worried about submodules adding confusion for whenever we have more outside contributors trying to use the template.

[2021-04-29 20:31] cansavvy commented on #80
So for a moving forward plan:

With @KatherineCox input from working with the DaSL template, I think I'll take inventory of how DaSL and ITCR templates are different (I think its mostly text) and I'll draft up different instructions. These instructions will probably partially live in basecamp but maybe a short addendum here.

Once people take a look at my draft of "branching off" instructions, if

[2021-04-30 02:11] muschellij2 commented on #77
That's what I was trying to do in _common.R, but I can't figure it out.

[2021-04-30 12:45] cansavvy commented on #80
Here's the differences between the DaSL and ITCR template repos:

- The `README` has "ITCR" mentions
- `_bookdown.yml` has "ITCR" mentions
- The docker image is either `jhudsl/itcr_course_template` or `jhudsl/course_template` (but right now the images themselves are identical and can't foresee a reason they would differ much later.
- `index.Rmd` has an intro paragraph about ITCR as well as the tem

[2021-04-30 13:23] cansavvy commented on #75
I need to get to the bottom of this issue today. The error messages are very annoying.

[2021-04-30 14:09] #75 closed, assigned to cansavvy

[2021-04-30 15:35] cansavvy commented on #49
I tried to just supply the token that I get from the interactive bits from rgoogleslides::authorize to `token` and at first it seems like it works but when you try downstream functions, it can't get access.

I didn't want to, but I did set up a Google API credentials to try that way, it seems like way more nonsense than we need and I don't want other future developers to have to do that.

I want t

[2021-04-30 15:37] cansavvy commented on #49
My main goal is to get a piece of text I can supply to `rgoogleslides::authorize()` this way I can store it as a GITHUB secret and be done.

[2021-04-30 17:09] cansavvy opened #85 "Mysterious "no such file or directory: unknown" in Github actions"
The same command works fine locally so I am confused about this error:

https://github.com/jhudsl/ITCR_Course_Template_Bookdown/runs/2477582298?check_suite_focus=true

I'm just writing this down and I'll look back into it later because I don't have any particular leads as of now.

[2021-04-30 17:14] cansavvy commented on #85
There shouldn't be quotes! Wow. That was more difficult than it should have been.

[2021-04-30 17:52] #85 closed, assigned to nobody

[2021-04-30 17:55] cansavvy commented on #49
So very close to solving this. The authotization appears to work locally but even though I updated the GIT secret for the token, I'm getting the same kind of downstream error that it gives when you give it a token that doesn't actually work: https://github.com/jhudsl/ITCR_Course_Template_Bookdown/runs/2477671770?check_suite_focus=true

[2021-04-30 18:40] KatherineCox commented on #47
Yes, I can do that!

Both methods render fine with bookdown for me - I'm using the ITCR Docker image on my own computer.  Haven't run it through the GitHub build (still need to fix my GitHub actions) but I don't see why there would be a problem.

This (ITCR) is the repo you've mostly been working on, right?  I'll add it here?

Should I also it to `03_test-cases so we can see how it turns out in Le

[2021-04-30 18:59] cansavvy commented on #47
Thanks!

As long as it renders fine with bookdown, the GitHub actions run that same thing.

Yes! That'd be great. We're looking into re-combining the DaSL and ITCR template repos for maintenance purposes. Let me know if you have comments on this plan. See https://github.com/jhudsl/ITCR_Course_Template_Bookdown/pull/81

Yes! That's be great. From my discussions with @muschellij2 it sounds like `kni

[2021-04-30 23:43] KatherineCox commented on #47
Yes, I imagine there's a better home for it than copying the function into every chapter :).  If you've got a good place for it, go for it.  Just let me know how/where to reference it if it gets put into a package somewhere.

[2021-05-01 14:30] muschellij2 commented on #47
It should be in https://github.com/jhudsl/leanbuild.  For Google slides, the function is `leanbuild::include_slide`.  Make sure to set `overwrite = FALSE` if you don't want it to download every time.

[2021-05-03 01:31] KatherineCox commented on #47
Great!  Sounds like the best way to go, then if John ends up making any adjustments to play nicely with leanpub he can just make those changes in `leanbuild` and we won't have to worry about updating the .Rmds

@cansavvy can we include `leanbuild` in the Docker image?

[2021-05-03 11:31] cansavvy commented on #68
Done!

[2021-05-03 11:31] #68 closed, assigned to nobody

[2021-05-03 11:32] cansavvy commented on #52
If the guidance in #87 is okay, I think we'll be able to close this issue as well.

[2021-05-03 11:32] cansavvy commented on #46
This runs locally fine but github actions is still having troubles. I need to do some more investigation.

[2021-05-03 11:33] cansavvy commented on #46
Actually the remaining piece of this issue is better tracked #49 so I will close this issue since it has been taken care of.

[2021-05-03 11:33] #46 closed, assigned to cansavvy

[2021-05-03 11:34] cansavvy commented on #45
I'm hoping that what I've added with the issue filing and getting_started.md that this is addressed. If we find that is not true, then we can reopen later.

[2021-05-03 11:34] #45 closed, assigned to nobody

[2021-05-03 12:51] cansavvy opened #88 "Dockerfile: GITHUB API limit problem with remotes::install_github"
In Dockerfile builds using `remotes::install_github`, you get a complaint about Github API limits that apparently can only be bypassed if you supply a GITHUB_PAT

[code]
I didn't want to have to link yet another github secret someplace because this also doesn't solve the issue locally.
This is a very annoying problem.

I can pass a GITHUB_PAT following some of these things:
https://devops.ionos.co

[2021-05-03 13:22] cansavvy opened #8 "Deleting this repo in favor of easier maintenance process"
See https://github.com/jhudsl/ITCR_Course_Template_Bookdown/issues/80

[2021-05-03 15:20] cansavvy opened #89 "Look into using git-secret for GitHub secret management"
https://git-secret.io/

Now we have two issues related to github secret management: #88 and #49

It's worth looking into how to better manage github secrets. https://git-secret.io/ seems promising. Will look into it a bit today.

[2021-05-03 15:23] cansavvy commented on #80
Last step is https://github.com/jhudsl/ITCR_Course_Template_Leanpub/issues/23 and updating`transfer-rendered-files.yml` then I'll close this issue.

[2021-05-03 15:25] cansavvy commented on #88
If we only had one package installed from `remotes::install_github` we could kick this can down the road. But currently I need to install `didactr` and `leanbuild`.

[2021-05-03 17:52] cansavvy opened #90 "Add recommendation for color contrast checking to getting_started.md"
Color Oracle is one program that can do this. https://colororacle.org/

[2021-05-03 20:21] muschellij2 commented on #47
- If you're embedding images, then you need to have alt text in the bracket.  If you are doing `<img src` then you need to do `<img src="blah.png" alt="SOMETHING">` (which will transform in to below):
[code]

If using `knitr::include_graphics`, you must define `fig.alt` in the code chunk options/parameters to pass to `knitr`.

As `leanbuild::include_slide` is a loose wrapper for downloading the PN

[2021-05-03 20:45] muschellij2 commented on #77
You must either do:
[code]

[code]

[2021-05-03 23:04] #47 closed, assigned to nobody

[2021-05-03 23:31] cansavvy opened #92 "Docker image builds fine, but now it can't find rgoogleslides?"
https://github.com/jhudsl/DaSL_Course_Template_Bookdown/runs/2496253287?check_suite_focus=true

Odd. Not sure what this is about.

[2021-05-04 12:53] cansavvy commented on #88
This has been resolved!

[2021-05-04 12:53] #88 closed, assigned to nobody

[2021-05-04 12:55] cansavvy commented on #49
This is solved as well!

[2021-05-04 12:55] #49 closed, assigned to nobody

[2021-05-04 13:03] #80 closed, assigned to cansavvy

[2021-05-04 14:40] #52 closed, assigned to nobody

[2021-05-04 15:02] cansavvy commented on #92
This problem is fixed! But now a new problem!

[2021-05-04 15:02] #92 closed, assigned to nobody

[2021-05-04 15:04] cansavvy opened #96 "rgoogleslides refresh token DOES change"
https://github.com/jhudsl/DaSL_Course_Template_Bookdown/runs/2501410385?check_suite_focus=true

This error^ Is because authentication failed and it failed because now the refresh token is different than it was yesterday.

SO, now I need to figure out if there's a way we can keep the refresh token github secret updated. Or if there's a way we can re-get the token whenever GHA is ran.

[2021-05-04 15:05] cansavvy commented on #96
Do you have any ideas about this one, @muschellij2 ?

[2021-05-04 15:07] #77 closed, assigned to carriewright11, cansavvy

[2021-05-04 15:08] cansavvy commented on #96
The access token appears stable though.

[2021-05-04 15:17] muschellij2 commented on #96
https://gargle.r-lib.org/articles/how-gargle-gets-tokens.html#credentials_user_oauth2

So I think first thing would be to try to refresh the token once it's in.  The question is whether if you get a refresh token you would need to push back a secret to github.

[2021-05-04 15:43] muschellij2 commented on #96
What about https://github.com/hmanzur/actions-set-secret

[2021-05-04 15:45] cansavvy commented on #96
Will look into both these things!

[2021-05-04 16:26] muschellij2 commented on #96
I have https://github.com/muschellij2/aghast for github actions.  I added capabilities for secrets: https://github.com/muschellij2/aghast/commit/d97589a79dadd42f8c5ddf8cc20f286b78d75602 .  I didn't map all the endpoints, but have the ability to change secrets.

[2021-05-04 17:26] cansavvy commented on #96
Tried this solution: https://github.com/jhudsl/DaSL_Course_Template_Bookdown/pull/97/files

[2021-05-04 19:33] cansavvy commented on #96
I'm not sure now:
https://github.com/jhudsl/DaSL_Course_Template_Bookdown/runs/2503470994?check_suite_focus=true

`Error: Refresh token not available`

[2021-05-04 19:48] muschellij2 commented on #96
Related to https://github.com/artemklevtsov/RGA/issues/22 ?

[2021-05-04 19:50] muschellij2 commented on #96
Should probably do a stop in case either of these are NULL:  https://github.com/jhudsl/DaSL_Course_Template_Bookdown/blob/1f84f4c4116be58172290e16a37f3ed70ed8a64c/scripts/google_slides_image_linker.R#L69

[2021-05-04 21:35] cansavvy commented on #96
Will add this.

[2021-05-04 22:12] cansavvy commented on #96
Aha! a clue! The token is being read as NULL https://github.com/jhudsl/DaSL_Course_Template_Bookdown/runs/2504500645?check_suite_focus=true !!!

[2021-05-04 23:17] cansavvy commented on #96
YES! It's all working now!

[2021-05-04 23:17] #96 closed, assigned to nobody

[2021-05-05 14:39] #90 closed, assigned to nobody

[2021-05-05 14:40] cansavvy commented on #71
Closed by #101

[2021-05-05 14:40] #71 closed, assigned to cansavvy

[2021-05-05 14:55] #79 closed, assigned to nobody

[2021-05-05 18:50] KatherineCox commented on #44
[v0.22](https://github.com/rstudio/bookdown/releases/tag/v0.22) is out!

[2021-05-05 19:38] KatherineCox opened #103 "Remove YAML from chapter template?"
Currently the chapter templates have a short YAML header:

[code]

Should this be there?  My impression from looking through the `bookdown` reference is that the YAML should all go in the first file (`index.Rmd`) and the subsequent chapters should just start with the H1 header.  Also  a quick experiment looks like the chapters render fine without it, but I haven't tested that thoroughly.  Is this

[2021-05-05 19:40] cansavvy commented on #103
When you make an Rmd, I think that's default. If it doesn't hurt anything to remove it, we can. But it also doesn't hurt anything to leave it; so I don't feel inclined to put any instruction on it in particular. Unless there's a reason we should.

[2021-05-05 19:52] KatherineCox commented on #103
It's mildly confusing

- to have the `title` field if it's not actually being used for the title of your chapter
- to have YAML at all, when `bookdown` is telling me not to

But neither of those is a big deal, or in any way preventing me from writing my chapters.

If we make our own .Rmd template (i.e. File > New File > RMarkdown > From Template > DaSL Chapter) we could make one with no YAML.  But

[2021-05-05 20:01] cansavvy commented on #103
Nope. It's not there for any reason I know of. I'm all for making a standard way of creating new Rmds if you want to figure that out and add it to the getting_started.md

[2021-05-06 16:41] cansavvy opened #105 "See if rgoogleslides::authorize can be run in the docker container"
Right now to set up rgoogleslides you have to install it outside of the docker container. This isn't ideal but its because of issues with Docker not allowing rgoogleslide auth page to come up. See #49

Eventually I'd like to have a better solution for this so people don't have to install rgoogleslides separately.

[2021-05-06 16:45] cansavvy commented on #38
So this will need to get bumped up on the priority list because apparently you can't push to the jhudsl org if you arent a part of it and we are only allowed three members.

But it looks like github container registry just inherits the permission from the repo which would be nicer.

[2021-05-06 18:53] cansavvy opened #108 "Keeping different GHA options available in the template"
@cutsort made a simplified version of render-bookdown.yml which for courses that aren't running code and won't have to change the docker image might be a good option to have on hand.

Question is how to we have different GHA Options available for courses using this template without it getting disorganized and confusing?

[2021-05-06 19:02] KatherineCox commented on #108
Related, it might be useful to separate out the instructions for DIY Docker images into a separate document from `getting_started`.  I.e. have `getting_started` explain the simplified version for courses that aren't running code (just use our standard Docker image), and then say "if you are running code, see this document for further instructions".

I don't know enough about how all this is workin

[2021-05-06 19:26] cansavvy commented on #108
I think separating out instructions in some way for "code intensive" and "non-code intensive" courses is a great idea and I'm going to make a separate issue about this.

[2021-05-06 19:30] cansavvy opened #109 "Find a way to separate out instructions/set up for "code-intensive" vs "non-code-intensive" courses"
Spurred from @KatherineCox 's idea on #108

If a course includes a lot of code and various packages needed to run that code, this substantially changes what items and GHA are necessary or not from this template which ultimately would affect set up.

Although the "code-intensive" necessary bits don't hurt anything by hanging around it certainly would be an easier initial set up for someone if they

[2021-05-06 20:18] cansavvy opened #111 "Bookdown doesn't seem to clean out old files?"
As re-renders of bookdown happen it looks like it doesn't actually delete the older versions of the files from `docs/`.
Granted those files hanging around don't hurt anything and aren't used by the final render of bookdown, but it does get messy after awhile.

Perhaps we can either find a bookdown.yml setting that does clean this out OR we can just do it informally by adding a delete the `docs/` f

[2021-05-06 20:19] cansavvy commented on #111
I would have thought this would be doing the trick:
https://github.com/jhudsl/DaSL_Course_Template_Bookdown/blob/ca63442da64148e0dc414e8df9cbde59e126ed18/_bookdown.yml#L11

But on other repos I'm not seeing it clear out old files: https://github.com/jhudsl/ITCR_Documentation_and_Usability/tree/main/docs

[2021-05-07 16:36] cansavvy commented on #109
Alternatively we can think of this as making a "bare minimum" vs "extra frills for code and Google slides" versions.

Still need a way to keep options open without things getting ugly maintenance or organization-wise.

[2021-05-20 17:33] cansavvy commented on #109
#112 Made it so someone could "opt-out" of google slides syncing and docker image syncing. But after a conversation @jtleek we decided it should instead be an "opt-in" system -- so those chunks will be commented out and you delete the commented out sections.

[2021-05-20 18:12] cansavvy commented on #109
This issue has been addressed in a way that's satisfactory for now. It's possible that as this template is used more we will revisit this strategy. In that case, we can open up a new issue for what arises.

[2021-05-20 18:12] #109 closed, assigned to nobody

[2021-08-16 01:02] cansavvy opened #121 "Add note about running spellcheck manually"
Via a @carriewright11 suggestion: Add a bit to the getting_started.md that describes running the spellcheck manually.

[2021-08-16 10:08] cansavvy opened #123 "Making a course Coursera ready"
Sometimes authors will want to send their course to Coursera.
At minimum we need some guidance about how to make a course Coursera ready in the getting_started.md.

However this also might be a place that we could use some automagic conversion to make something Coursera ready. Coursera needs a yaml of sorts so we could have this yaml created/converted from materials here.

I don't know the extent

[2021-08-16 10:22] cansavvy commented on #121
Oh there apparently is a section about this already: https://github.com/jhudsl/DaSL_Course_Template_Bookdown/blob/main/getting_started.md#running-spell-check-and-styler-manually

@carriewright11 did you see this section? If no, should I move it somewhere that would be easier to find? If you did see this section, is there something you think is missing that should be added?

[2021-08-17 15:46] cansavvy opened #125 "Create PR Template with a checklist!"
From a conversation on #124 we've realized a checklist in a prominent place would be handy and I think a PR template would be just the place!

I think what we need is a PR template! And this would be the perfect spot for such a checklist!

_Originally posted by @cansavvy in https://github.com/jhudsl/DaSL_Course_Template_Bookdown/issues/124#issuecomment-900412383_

[2021-08-17 16:42] cansavvy commented on #121
This was addressed in #124

[2021-08-17 16:42] #121 closed, assigned to cansavvy

[2021-08-17 17:03] cansavvy opened #127 "Add instructions on how to add videos and embedded files to getting_started.md"
This includes adds to two places:

1) adding a getting_started section for how to include videos and embedded files to the chapters
2) Add to the checklist items in the .github/PULL_REQUEST_TEMPLATE about checking these.

_Originally posted by @carriewright11 in https://github.com/jhudsl/DaSL_Course_Template_Bookdown/issues/126#issuecomment-900459233_

[2021-08-17 17:04] #125 closed, assigned to nobody

[2021-08-17 17:05] cansavvy commented on #89
Since the precipitating issues for this issue have otherwise been resolved, I don't think we need this issue anymore.

[2021-08-17 17:05] #89 closed, assigned to nobody

[2021-08-19 18:26] cansavvy opened #129 "Create method of feedback"
We want to encourage feedback for all the courses! So we want it to be as easy as possible for people to file issues about courses (and in a way we can try to keep things organized).

We can use Google forms that are linked to GitHub issues using Zapier zaps. This way having a GitHub account is not a barrier for someone to file an issue.

The Google form should probably be rather general, but if t

[2021-08-19 18:59] cansavvy commented on #129
Here's a draft: https://docs.google.com/forms/d/1PjaJEmpnaHgDS7PwIuKxoY8mX7ZwlneI0i6ciXa73cY/edit

[2021-08-19 20:34] cansavvy commented on #129
Here's the sharing url: https://forms.gle/tESJ4eSps3N5hGK47

Working on the zap and how we incorporate this into every page in a way that's not horrible to maintain.

[2021-08-20 00:44] cansavvy opened #131 "Render can't complete because leanbuild::set_knitr_image_path() is not included in current docker image"
leanbuild::set_knitr_image_path() isn't in the current docker image's leanbuild package.

I think this means the leanbuild package in the docker image needs to be updated with the latest changes, but we should hold off until we have the changes from #128 more solidified.

This *should* be as simple as triggering a rebuild of the docker image `jhudsl/itcr_course_template`.

[2021-08-20 13:28] cansavvy opened #133 "Make Docker build fails and ultimately GHA render-bookdown fails, fail more loudly"
Some renders were not completing because of the leanbuild updates which had not been added to the latest docker image. But these went relatively undetected because GHA still continued on even if the renders didn't complete.

I know there's a relatively easy fix to this, just need to look it up and then implement it.

[2021-08-20 13:29] cansavvy commented on #133
Here's an example of such an instance: https://github.com/jhudsl/DaSL_Course_Template_Bookdown/actions/runs/1148998735

[2021-08-20 13:30] cansavvy commented on #133
Related to #131

[2021-08-20 13:31] cansavvy commented on #129
I think we should be able to add the link to the bookdown yaml in this template, but then we'll need a way to have it add somewhere to each page in leanpub.

[2021-08-20 14:00] cansavvy commented on #129
@carriewright11 the bookdown yml part of this seems like something you might know how to do? Would you be able to do it or give me some hints on how you think it could be done?

[2021-08-20 14:00] cansavvy commented on #131
I've updated Docker image to have the latest leanbuild so this is now resolved.

[2021-08-20 14:00] #131 closed, assigned to nobody

[2021-08-20 15:53] carriewright11 commented on #129
Hi! sorry I had some meetings this morning. Yes, I could add this, but indeed this would require something different for the Leanpub version. Perhaps we could come up with a way to add some text with the link to the end of each Rmd? This should then would work for both versions.

[2021-08-20 18:24] cansavvy commented on #129
Sounds like the most straightforward strategy. I can take a whack at this.

[2021-08-20 18:30] cansavvy opened #134 "Make sure all files that leanbuild::bookdown_to_leanpub() needs are transferred via gha"
Now that we have somewhat of an attack plan, we need to reconfigure again what files are being transferred from this repo to its [Leanpub correlate](https://github.com/jhudsl/DaSL_Course_Template_Bookdown)

If leanbuild::bookdown_to_leanpub() is not to be run until after files are transferred, I think that means that these are the files that are needed:
-  everything in the `docs/` folder
-  _book

[2021-08-20 19:34] carriewright11 commented on #134
You need Rmds just for `leanbuild::bookdown_to_leanpub()` to run (at least currently - and this is also helpful for one of my scripts) . I just tested this, I had assumed docs were required since it was previously in the transfer action, but it looks like the docs/ files aren't actually required. These get generated by `leanbuild::bookdown_to_leanpub()`.

[2021-08-20 20:00] carriewright11 commented on #134
With some further testing I think we actually only need book.bib and not packages.bib.

So overall we need:

1.  all Rmd files
2. the _bookdown.yml file
3. the book.bib file

[2021-08-23 15:02] cansavvy commented on #134
Took some troubleshooting that led to some other problems, but we got there:
https://github.com/jhudsl/DaSL_Course_Template_Leanpub/pull/32

[2021-08-23 15:02] #134 closed, assigned to nobody

[2021-08-23 15:03] cansavvy commented on #127
Looks like this was accomplished by #128! 🎉

[2021-08-23 15:03] #127 closed, assigned to carriewright11

[2021-08-23 17:42] cansavvy opened #146 "How do we update the 'mechanics' files in downstream repos when updates are made?"
# Summary

I'd love to think we'd get this repo to a place where we'd never ever have to make fixes or updates again but that's just not reasonable.

Is there a way we can ease the pain of carrying over "mechanics" updates to this template repo to all of its downstream children repositories?

Basically we'd want these files to be updated occasionally:

- getting_started.md
- Some github workflow i

[2021-08-23 17:47] cansavvy commented on #146
Like if we can do these kinds of steps: https://medium.com/sweetmeat/how-to-keep-a-downstream-git-repository-current-with-upstream-repository-changes-10b76fad6d97

But have protected files so that content or other repo specific changes aren't lost.

[2021-08-23 18:17] cansavvy opened #148 "Feedback: I’ve found a bug, glitch, or typo"
8/19/2021 16:36:28

[2021-08-23 18:26] cansavvy commented on #148
It's alive!!!

[2021-08-23 18:26] #148 closed, assigned to cansavvy

[2021-08-23 18:27] cansavvy commented on #129
Zap's are on! Now just need a way to have this added to the Leanpub version.

[2021-08-25 16:38] cansavvy opened #150 "Docker image may not be handling Rstudio called python correctly"
In the current docker image and in the RStudio console, I tried to render [this repo's material](https://github.com/jhudsl/ITCR_Cancer_Research_Leadership_LeanPub) with `bookdown::render_book("index.Rmd")` and it contains some python in a knitr chunk.
https://github.com/jhudsl/ITCR_Cancer_Research_Leadership_LeanPub/blob/470671de8858804a3b807291cc54051df288e730/06-management_tools.Rmd#L306

I got

[2021-08-25 17:09] carriewright11 commented on #150
Yeah, the code works locally... I have some failures with docker image build but I don't think that is related, but maybe... still need to try with your updates to leanbuild for that repo.

[2021-08-25 17:18] carriewright11 commented on #150
looking into this some more...

[2021-08-26 12:18] cansavvy commented on #129
The last bit to this issue is tracked here: https://github.com/jhudsl/leanbuild/issues/16 so it can be closed.

[2021-08-26 12:18] #129 closed, assigned to cansavvy

[2021-08-26 12:49] cansavvy commented on #146
I looked into submodules: https://gist.github.com/gitaarik/8735255 Although its a nice thing to know, I do not think this will help make this process more user friendly so :-1:

[2021-08-26 13:02] cansavvy commented on #146
I think this is what we want: https://github.com/marketplace/actions/repo-file-sync-action#%EF%B8%8F-sync-configuration

BUT, I need to figure out how to make sure that when the template is used that this syncing github workflow itself isn't copied over because that would create chaos.

[2021-08-26 13:05] cansavvy commented on #146
A person on this discussion has a solution for this problem: https://github.community/t/can-you-ignore-files-folders-when-making-a-repo-from-a-template/3279/7

Here's the GHA that is at the core of the solution: https://github.com/JetBrains/intellij-platform-plugin-template/blob/deb171483598ee8a5d7621154db880e87b4db4ef/.github/workflows/template-cleanup.yml

[2021-08-26 15:01] cansavvy commented on #146
So close. The only thing that's in the way now is that the workflow can't run in the new repo without a GITHUB PAT being set so it just fails automatically: https://github.com/cansavvy/testing-template-cleaner-2/runs/3434001382?check_suite_focus=true

 I wonder if there's a way for it to extract/send the GITHUB PAT from this repo to do the authentication?

[2021-08-26 16:41] cansavvy commented on #146
Going to look into this solution: https://gist.github.com/moltar/afe0e541ac87ed07f1454520683140de

[2021-08-26 16:58] cansavvy commented on #146
Nope^ That wasn't exactly what we needed. Setting organization secrets though would be handy: https://github.blog/2020-05-22-keep-your-secrets-synced-across-multiple-repositories-with-organization-secrets/

[2021-08-26 18:56] carriewright11 opened #156 "Figure out a way to hide TOC for coursera - maybe a version of the url?"
This would be better so that students don't get lost on coursera and to show the course with full width.

[2021-08-26 19:02] carriewright11 commented on #156
might be helpful: https://bookdown.org/yihui/bookdown/html.html I have considered just rendering in another format...

[2021-08-26 19:26] carriewright11 commented on #156
Alternatively we make a repo that copies bookdown files with git actions and renders to a version without the toc. (just don't copy the _output.yml file). Could also make this repo private with the coursera quiz code?

[2021-08-26 19:35] carriewright11 commented on #156
ooh or actually we could do this in the Leanpub repo. - rename to the course repo or something... because it would be easier to change the quizzes from leanpub to coursera all in the same repo.

[2021-08-26 19:37] cansavvy commented on #156
That makes sense. What link do you provide coursera? If I can play around with that link perhaps I can figure out how to make the TOC disappear.

[2021-08-26 19:45] carriewright11 commented on #156
Sounds good - that would work too if you can make that happen! We would also host the current leanpub repo on GitHub pages. I think its ok to do that if it's private...(maybe we would need to pay... don't know but I could test it)

[2021-08-26 19:46] carriewright11 commented on #156
speaking of which... I think I need to make my Leanpub repo for my course private now!

[2021-08-26 19:49] carriewright11 commented on #156
Just tested and you can have a public website from a private repo

[2021-08-26 19:50] carriewright11 commented on #156
oh sorry. I missed your question about the link: https://jhudatascience.org/ITCR_Cancer_Research_Leadership/

[2021-08-26 19:58] cansavvy commented on #156
Is that all that coursera asks for then?

[2021-08-26 20:02] carriewright11 commented on #156
yup! just many times over lol with more specific links for each location like: https://jhudatascience.org/ITCR_Cancer_Research_Leadership/about-the-authors.html

[2021-08-26 20:05] carriewright11 commented on #156
One benefit of rendering in the leanpub repo is we could modify the style further if we wanted to - like keep the feedback button but remove the TOC for example

[2021-08-26 20:07] carriewright11 commented on #156
apparently if you press the s key it toggles the toc - that seems like a very useful clue

[2021-08-26 21:37] agitter commented on #146
Is this regarding the `starting-template.yml` workflow?  Because that push is to the same repository running the workflow, can you use the `secrets.GITHUB_TOKEN` instead of the `secrets.GH_PAT` here?
https://github.com/jhudsl/DaSL_Course_Template_Bookdown/blob/fbcd1e3292bba57c7a9b2ef303a8d459904dcad9/.github/workflows/starting-course.yml#L71

It looks like that `secrets.GITHUB_TOKEN` token exists

[2021-08-26 23:59] cansavvy commented on #146
Nice to hear from you, @agitter!

Yes!

Yes, this is ran by the "child" repository which does not have github token set when you first create it though the "parent" repository (this one) does. (However I think I can get around this by using an organization secret -- have not tested this yet but am about to).

I switched over the name of the token because the [syncing workflow github action](https:

[2021-08-27 00:07] #69 closed, assigned to nobody

[2021-08-27 01:11] cansavvy opened #160 "Be more prescriptive/restrict how we recommend people use links"
We need to tie up this leanbuild madness. So I'm working on chopping down the examples and showing clearly what works.

If people need functionality beyond the few examples we show then they can file an issue and we can look to adding it to leanbuild if necessary. But I think we've gotten a bit side tracked with all the different use cases. Let's be very prescriptive about how to add things and if

[2021-08-27 01:30] cansavvy opened #161 "Transfer render also needs to delete files that are no longer listed in the bookdown.yml"
We don't want renamed or old files to be hanging around. So I need to add a line to the transfer-rendered-file.yml github action which deletes any files that are no longer in the bookdown.yml

[2021-08-27 02:31] agitter commented on #146
Got it.  I was hoping you would be able to continue using the personal access token for the syncing workflow and only switch to the  `GITHUB_TOKEN` secret for the template cleanup workflow because the [push action](https://github.com/ad-m/github-push-action#inputs) accepts either.  However, it sounds like you're a couple steps ahead of me with the token juggling.

[2021-08-27 12:10] carriewright11 commented on #160
Yeah, that's why my plan was to drop html examples and only show include_slide() for images, include_url() for embed files and include_url() (but differently) for videos. Does that work for you?

[2021-08-27 12:39] cansavvy commented on #146
Everything is working very nicely! I tested it out by making a new repo with the template. I unfortunately already deleted the repository I used as a test so I can't link to the final results but what's in main works!

The one caveat is that if someone outside our organization uses the template, start-course.yml will fail until they set `GH_PAT`.

[2021-08-27 12:39] cansavvy commented on #146
I also updated the documentation so this issue is done!

[2021-08-27 12:39] #146 closed, assigned to cansavvy

[2021-08-27 15:59] cansavvy opened #163 "Potential Docker image update needed?"
I'm getting this error when running leanbuild::bookdown_to_leanpub() (I've gotten it locally with the docker image and on this github action run):
https://github.com/jhudsl/leanbuild/runs/3444872002?check_suite_focus=true

This suggests it means some updates are necessary: https://github.com/r-lib/devtools/issues/2309
I'll dig into this some more in a bit.

[2021-08-27 16:04] cansavvy opened #222 "Add guidance about adding images to quizzes"
I have to figure out how to do this for Documentation and Usability course: https://github.com/jhudsl/ITCR_Documentation_and_Usability/issues/35#issuecomment-900303661

And after I've figured it out I should add how to do this to the getting_started.md in this repo.

[2021-08-27 16:44] cansavvy opened #164 "Add warning that slides can't download unless you set permissions to "anyone with a link""
https://github.com/jhudsl/DaSL_Course_Template_Bookdown/blob/main/scripts/google_slide_png_downloader.R Will think its' downloaded the right pngs but if on Google Slide the permissions aren't set to "anyone with a link" all the pngs are little gray boxes and there's no error it thinks it downloaded what you wanted.

[2021-08-28 17:57] cansavvy commented on #163
Updated the` testthat` package to a more recent version which contains the `testthat_print()` function. Going to re-run that gha test to see if that solves the problem.

[2021-08-28 21:12] #163 closed, assigned to cansavvy

[2021-08-28 21:13] cansavvy commented on #108
This has been addressed in #42

[2021-08-28 21:13] #108 closed, assigned to nobody

[2021-08-30 16:50] cansavvy opened #166 "Future idea: CourseraBuild package"
Enough people use Coursera too that if we create a bookdown -> coursera converting package that could also be useful. Not sure all what entails in Cousera but I'm just jotting this down incase we get enough stuff that it makes sense to have it be its own package.

_Originally posted by @cansavvy in https://github.com/jhudsl/DaSL_Course_Template_Leanpub/issues/49#issuecomment-908503539_

[2021-08-30 20:40] carriewright11 opened #168 "Add more images to getting_started.md"
This will make it easier for users to follow along. Will also go through the documentation with the creation of my next course.

[2021-08-30 21:01] cansavvy commented on #168
Sounds great!

[2021-08-31 13:33] cansavvy opened #170 "Make a Coursera render!"
Apparently there's not a way to get rid of the TOC from bookdown to link to Coursera, so we need to do a fresh render with knitr into coursera's own folder.

[2021-08-31 16:28] cansavvy commented on #170
This is started on #171

[2021-08-31 23:37] cansavvy opened #173 "Update GHA diagram in the getting started section"
(or make a new supplementary diagram all together)

There's been some hubbub on the GHA front and it can be hard to keep track if you aren't me. (Or even if you are me I also lose track). I need to make a diagram that's updated or an additional diagram to explain the GHA stuffs and what people need to know about them.

Related GHA changes that need to be described: #153

[2021-08-31 23:37] cansavvy commented on #173
When #171 is finalized it also needs to be described in the getting_started.md and its diagrams.

[2021-08-31 23:38] cansavvy commented on #170
I will also need to add info about this on the getting_started.md

[2021-09-01 01:54] cansavvy commented on #170
Videos rendering properly are the only thing holding this up.

[2021-09-01 02:00] #103 closed, assigned to nobody

[2021-09-01 02:01] cansavvy commented on #105
This has work arounds for now. If we end up using the google slide integration more than we can reopen the issue if the solution doesn't work for folks.

[2021-09-01 02:01] #105 closed, assigned to nobody

[2021-09-01 02:02] cansavvy commented on #160
I think we can consider this closed now that the examples are cut down and streamlined a bit.

[2021-09-01 02:02] #160 closed, assigned to nobody

[2021-09-02 14:51] cansavvy opened #174 "How to have no TOC and reliably rendered Youtube embed videos"
The saga is documented on #171

I was working on creating a coursera render script that would allow us to render the chapters individually but it turns out that rendering without bookdown causes the embed videos to not render.

I tried a variety of approaches but have used a bandaid fix over on #173

### Solution 1 idea:
This is partially implemented on this branch: https://github.com/jhudsl/DaSL_

[2021-09-02 18:11] cansavvy commented on #166
Because some of the coursera machinery is currently split on both repositories (_Bookdown and _Leanpub) this might be a good argument for just making it its own package we can install on the docker image which can be used by both repositories.

This way, the quizzes remain private on _Leanpub but the github pages only has to be in one place.

What do you think, @carriewright11 ? For now, let's lea

[2021-09-02 18:48] carriewright11 commented on #166
I think this works for now, but it still might be a bit confusing if someone tries to use the coursera package to make quizzes from the bookdown repo. Hopefully though I can figure out something nifty with the json plugin and then that will not be an issue. We will see!

[2021-09-02 18:59] cansavvy commented on #166
If they only have the bookdown repo then they won't be needing a Leanpub -> Coursera quiz converter anyway. In that case they would just make quizzes however you make quizzes for Coursera.

[2021-09-02 19:05] carriewright11 commented on #166
Oh I see you  are thinking for people that might only want to publish on coursera and not leanpub. Sure, that makes sense. Just wondering what our overall plan for the ITCR courses would be though -I think we might be required to do leanpub at least because it can be free and coursera can't. But I see your point for people in general.

[2021-09-06 13:27] cansavvy opened #176 "Get rid of TOC for coursera!"
Got some solutions to try! I'll work on these!

[code]

__Originally posted by @Pindar777 in https://github.com/rstudio/bookdown/issues/1251#issuecomment-913159775__

[2021-09-07 16:50] cansavvy opened #178 "Take another look at `output_yaml` argument"
I'm putting this in an issue because it probably *should* be addressed but things are working and I don't have the energy to dive into anything else regarding #171 right now.

The `output_yaml` argument is not working. @carriewright11 mentions it might absolutely need to be called `_output.yml` which seems like a silly thing but might very well be the case.

Later if I figure out how to fix this b

[2021-09-07 16:52] cansavvy commented on #174
Resolved with #177 !

[2021-09-07 16:52] #174 closed, assigned to nobody

[2021-09-07 16:52] cansavvy commented on #176
Resolved with #177 !

[2021-09-07 16:52] #176 closed, assigned to cansavvy

[2021-09-07 16:52] cansavvy commented on #170
Done! #177

[2021-09-07 16:52] #170 closed, assigned to cansavvy

[2021-09-07 16:53] cansavvy commented on #156
Wow. We opened a zillion issues about this. Lol This is resolved! #177

[2021-09-07 16:53] #156 closed, assigned to carriewright11, cansavvy

[2021-09-07 17:02] carriewright11 commented on #156
lol

[2021-09-08 00:28] cansavvy opened #184 "Add guidance about what to do with sync PRs"
Just to note:
- If you don't want the changes from a particular file, you can always revert that particular commit.
- If you don't want any of the changes you can close the PR.
- If you want only some changes you could check out the branch and make manual edits.

I will make sure to add more guidance about this in the getting_started.md

_Originally posted by @cansavvy in https://github.com/jhudsl

[2021-09-08 00:31] cansavvy opened #185 "Find a way to shut off the docker building on downstream repo sync PRs"
When docker/ changes are synced in downstream repos we don't need to rebuild and push the docker image on all the downstream repos too.

I should find a way shut off the docker building GHA because we don't need this to happen on every repo (it's the same docker image and has already been updated).

_Originally posted by @cansavvy in https://github.com/jhudsl/ITCR_Documentation_and_Usability/issue

[2021-09-09 16:06] cansavvy commented on #173
This is done!

[2021-09-09 16:06] #173 closed, assigned to cansavvy

[2021-09-09 16:37] cansavvy commented on #222
This is currently not supported by Leanpub so I'm inclined not to support it here for now.

[2021-09-09 17:45] cansavvy opened #188 "Determine standard contribution labels"
We want to make sure everyone is given credit for what part they played in the courses. We need to flesh out what these labels would be.

ultimately we need to have a table that lays out specifically what contribution label means like. Something like: https://www.cell.com/pb/assets/raw/shared/guidelines/CRediT-taxonomy.pdf but for courses.

e.g. author, contributor, administration, concept generat

[2021-09-09 17:46] cansavvy opened #189 "Creating tutorial videos for how to create a course"
This is an idea to help people get going using these templates. Not sure about the specifics of what we should show. But want to get this written down.

[2021-09-09 17:47] cansavvy commented on #188
Once the labels are determined, I will add these to the About.Rmd template so they are easy to fill in. Also probably add a blurb in getting_started.md

[2021-09-09 18:40] #123 closed, assigned to cansavvy

[2021-09-09 18:40] #164 closed, assigned to nobody

[2021-09-09 18:43] #184 closed, assigned to cansavvy

[2021-09-10 16:43] cansavvy opened #192 "Get rid of old copies of coursera render scripts"
Get rid of them and add/update
documentation about how to run them now that the coursera render functionality has been added to leanbuild.

[2021-09-10 17:23] cansavvy commented on #192
Done! #193

[2021-09-10 17:23] #192 closed, assigned to cansavvy

[2021-09-16 12:56] cansavvy commented on #150
Sounds like its time to address this.

[2021-09-16 12:58] cansavvy commented on #150
@carriewright11 Could you send me a print out of your local `devtools::session_info()`  for your local machine? This may help me narrow in on the problem.

[2021-09-16 13:16] carriewright11 commented on #150
![Screen Shot 2021-09-16 at 9 15 14 AM](https://user-images.githubusercontent.com/23014755/133618912-a236d27f-c387-4a49-8631-ad7906165ff2.png)
![Screen Shot 2021-09-16 at 9 15 29 AM](https://user-images.githubusercontent.com/23014755/133618945-e88382c9-1060-4a1f-9a2e-09a9093799ed.png)

[2021-09-16 14:23] cansavvy commented on #166
I don't think this is totally needed anymore. I think incorporating into leanbuild worked fine.

[2021-09-16 14:23] #166 closed, assigned to nobody

[2021-09-16 14:25] cansavvy opened #197 "Try to improve on syncing downstream PRs system"
The syncing is nice, but too often the files I would like to be synced aren't really the ones being synced or vice versa.

I want to try to figure out if there's a way we can improve upon this. Like is there a way for me to manually edit the sync PR before it gets deployed downstream?

This way I could accept/reject changes before they make it to a PR in the repo.

[2021-09-16 14:35] cansavvy commented on #150
This is the problem: https://rstudio.github.io/reticulate/articles/r_markdown.html
When I run `Sys.which("python")` I get `""` which means it's not linked up to the python on the docker image.

[2021-09-16 14:55] cansavvy commented on #150
I think this should be a simple fix if it works for you, if you get rid of the `python.reticulate = FALSE` tag it seems to run fine for me on the docker image. We can add this to the getting_started.md

[2021-09-16 14:55] cansavvy commented on #150
@carriewright11 (forgot to tag you)

[2021-09-16 15:39] carriewright11 commented on #150
OK cool, I will give that a shot

[2021-09-16 15:59] cansavvy opened #198 "Add 'reticulate' to Docker image"
I made a mistake and accidentally pushed directly to main these changes. I added reticulate to the dockerfile which is something we need: https://github.com/jhudsl/ITCR_Cancer_Research_Leadership/pull/60#issuecomment-921026034 I meant to make a PR for it, but now its pushed and I'll see if it correctly builds the Docker image.

Just writing this down somewhere since I messed up.

[2021-09-16 16:07] cansavvy commented on #198
All done! https://github.com/jhudsl/DaSL_Course_Template_Bookdown/actions/runs/1242288369

[2021-09-16 16:07] #198 closed, assigned to nobody

[2021-09-16 16:09] cansavvy commented on #150
This has been resolved! I added `reticulate` to the docker image #198 and now as long as the `python.reticulate = FALSE` tag is not used, python chunks appear to run properly: https://github.com/jhudsl/ITCR_Cancer_Research_Leadership/pull/60

[2021-09-16 16:11] carriewright11 commented on #150
yay :)

[2021-09-16 16:11] #150 closed, assigned to cansavvy

[2021-09-16 18:02] cansavvy opened #199 "Add template Credits to About.Rmd file"
As well as instructions in getting_started.md about how to determine and list credits for a course. This is very much related to the credit discussion on basecamp.

[2021-09-16 18:04] cansavvy opened #200 "Look into weird `resources/images/home/rstudio/...` folder"
Where did it come from? How did it get there? Do we need it? I don't think we do. So how do make sure it stays gone?

Also will this fix the Windows problem over on leanbuild? https://github.com/jhudsl/leanbuild/pull/50

[2021-09-16 18:44] cansavvy commented on #168
I think this has been accomplished! 🎉

[2021-09-16 18:44] #168 closed, assigned to nobody

[2021-09-17 13:04] cansavvy commented on #200
Because this hasn't appeared in other repos I'm inclined to think this is a one-off problem and shouldn't happen again. But I still am interested to see if this will fix the Windows problem. Will try that next.

[2021-09-17 13:08] #200 closed, assigned to cansavvy

[2021-09-17 13:42] cansavvy commented on #200
No... Windows problem with zip file still persists: https://github.com/jhudsl/leanbuild/pull/54/checks?check_run_id=3632769295
womp womp.

[2021-09-17 17:29] cansavvy opened #202 "Start tagging releases -- find a better way to let people know when changes have been made"
This is related to a suggestion from Fred on Basecamp. We need a better way to let people know about new updates to the template. This also includes make the getting_started.md info more prominent (maybe into a github wiki or something?)

At the same time we may want to think about if any reorganizing of the getting_started.md are needed.

[2021-09-17 17:31] cansavvy opened #203 "Make a getting_started cheatsheet?"
There's so much info. For a github newbie (or anyone for that matter) getting_started.md can be overwhelming. How do we make it less overwhelming. Cheatsheets and diagrams illustrating the workflow might help!

[2021-09-17 17:51] cansavvy opened #204 "Add more info about how to navigate Git and Github!"
Including recommending using GitKraken!
Also making a git workflow diagram cheatsheet (related to #203)
Discuss git reset or other handy tips.

[2021-09-17 20:10] cansavvy opened #205 "Running list of things that should be added to the getting started guide"
- [ ] Grading thresholds
- [ ] Pricing on Leanpub
- [x] Git workflows and diagrams
- [x] Info about credits

[2021-09-20 12:22] cansavvy commented on #197
I think one step toward making the sync PRs easier to interpret would be having a summary that explains what the changes are for. Unfortunately there's not a great way to do this with [sync gha](https://github.com/BetaHuhn/repo-file-sync-action) itself but I think we could add a comment on after to do that using an option in and https://github.com/marketplace/actions/comment-pull-request

[2021-09-20 12:30] cansavvy commented on #204
This has been added. Might do a tad more polishing and possibly add a diagram. Asked Fred for feedback since these are things that came up in a conversation on BaseCamp with him.

[2021-09-20 12:42] cansavvy opened #208 "Retire Google Slide tools of this repository"
As I've been working on #206 I've realized that I think the google slide functionality of this repo adds more confusion than convenience. So I'm going to retire that functionality for now. If we change our minds we can always restore it later.

[2021-09-20 12:43] cansavvy commented on #208
Simplify I think is the name of the game with this idea.

[2021-09-20 14:16] #208 closed, assigned to cansavvy

[2021-09-20 14:34] #204 closed, assigned to cansavvy

[2021-09-20 14:35] cansavvy commented on #202
After #197 is addressed I think I will tag a first release.

[2021-09-20 14:36] cansavvy commented on #188
Sounds like this is mostly wrapped up.

[2021-09-20 16:37] cansavvy opened #212 "Is it better to only keep the assets file in `docs/`"
Right now there are two `assets` folders that contain styling items for rendering. I thought (but believe I am incorrect now) that the `assets` directory and its contents were copied over to `docs/assets` upon rendering, but a recent glitched showed me it is not (#211).

To eliminate confusion on this aspect, does it make sense to only keep the assets copy that is in docs? (and fix the links accor

[2021-09-20 16:54] cansavvy commented on #205
I've posted in BaseCamp to try to get some guidance/consensus on pricing and grading. Credits have mostly come to a consensus in BaseCamp so I will work on that soon. #199

[2021-09-20 16:58] cansavvy commented on #203
The spirit of this issue was implemented by the introduction of this page: https://github.com/jhudsl/DaSL_Course_Template_Bookdown/wiki/Start-adding-content-to-your-course

[2021-09-20 16:58] #203 closed, assigned to cansavvy

[2021-09-20 18:01] cansavvy opened #214 "Is there a way to test GHA that use main before merging?"
I hate having to merge things before knowing for sure they work but for some GHA it seems this is the main way to know if they work? I will look online to see if there's a better way to run a test before merging that might save me time and also catch mistakes earlier.

See #213 as an example of what I'm talking about.

[2021-09-20 18:17] cansavvy commented on #202
This is also related to leanbuild releases and something we should think about there as well. Like: What steps does one need to do to update their material using the latest release? And where can we publish the release notes? I think in GitHub Wiki makes sense.

[2021-09-20 18:22] cansavvy commented on #185
I think I can just add a If statement that some how checks if the changes came from a sync PR or not. Will have to think about the specifics of the logic but that should work. Probably use the branch name since that is always the same.

[2021-09-20 19:38] #185 closed, assigned to nobody

[2021-09-20 20:29] cansavvy commented on #202
Once we have releases, I'll have syncs GHA only triggered upon a new release instead of manually triggered.

[2021-09-20 21:11] carriewright11 commented on #188
Let me know if you want help with implementing this.

[2021-09-21 00:42] cansavvy commented on #197
This is working!

[2021-09-21 00:42] #197 closed, assigned to cansavvy

[2021-09-21 01:52] cansavvy opened #219 "Determine how to add credits to Leanpub version of course"
Related to https://github.com/jhudsl/DaSL_Course_Template_Bookdown/issues/188, that markdown table will likely not work for the Leanpub version or at the very least it will needed to be added to the About the course section of Leanpub -- or it needs to be determined where it will go.

[2021-09-21 01:57] #188 closed, assigned to nobody

[2021-09-21 01:58] cansavvy commented on #178
This is taken care of.

[2021-09-21 01:58] #178 closed, assigned to nobody

[2021-09-21 02:00] cansavvy opened #220 "Screenshots in the `resources/` folder should be put in their own `screenshots/` folder"
And that means all the image links would need to be updated. The reason I think this needs to happen is that there are so many screenshots now that they are diluting the other files in `resources/`

[2021-09-21 02:26] #220 closed, assigned to nobody

[2021-09-21 02:47] cansavvy commented on #214
There's not a great solution to this problem and there's other problems that are more pressing. Closing.

[2021-09-21 02:47] #214 closed, assigned to cansavvy

[2021-09-21 09:17] cansavvy commented on #202
Another question related to this is how should the _Leanpub repository template releases get handled? In other words should they be tied together and we make their releases identical (since they are work together anyway) or do we have it own it's own?

I think tying the releases to each other makes sense since they are already related anyway.

Same question for Docker image and leanbuild changes.

[2021-09-21 13:04] #161 closed, assigned to cansavvy

[2021-09-21 13:41] cansavvy opened #223 "Add section about how to do pull requests and review"
Add articles and guidance on how to do code review to the GitHub Wiki.

Then we need to add links in various pertinent places to this content.

[2021-09-21 14:18] carriewright11 commented on #212
I just tested this with an older repo.  Indeed it looks like some files (not all) in the assets dir get copied over when you preview the course.   Was the issue with the hero image? in my test dir,  doesn't seem fixed with copying the big-image.html over. Instead I fixed it by modifying the big-image.html only in the assets dir. It did not work to only modify it in the docs/assets dir (which I tri

[2021-09-21 14:23] carriewright11 commented on #212
But I see that the hero image appears fixed with the bookdown template when I pull the main branch. interesting...

[2021-09-21 14:26] cansavvy commented on #212
Okay. Sounds like this needs further digging. Im just trying to make sure we have one main copy and don't end up losing track of a copy or have to change things multiple times.

I'll have to play around with this and see what makes sense and I'll write some guidance about it in the new styling section: https://github.com/jhudsl/DaSL_Course_Template_Bookdown/wiki/Customizing-style

On a related not

[2021-09-21 19:43] carriewright11 opened #225 "problem: citations are not rendering correctly"
**Describe what is not working with the template or is unclear in the documentation**
A clear and concise description of what the bug is.

Locally I see references for each chapter (and the end), now only see them at the end when the book is rendered with the git action instead of locally.

https://jhudatascience.org/ITCR_Cancer_Research_Leadership/index.html

**Please link to the specific course

[2021-09-21 19:54] cansavvy commented on #225
This is great! :tada: Thanks so much for filling it out!

[2021-09-21 20:00] cansavvy opened #226 "Think about how to deal with partially customized files that need to be synced downstream"
**Is your feature request related to a problem? Please describe.**
These kinds of PRs:https://github.com/jhudsl/ITCR_Cancer_Research_Leadership/pull/67 are frustrating because ideally it would be addressed by the sync PRs.

I have a specific solution that will address problems with the transfer-rendered.yml file updates: I should just have it build the Repo name from the _Bookdown repo by replacin

[2021-09-21 20:30] cansavvy commented on #225
@carriewright11

I'm trying to replicate this notion^, and locally for me (using the `main` branch) I don't get chapters at the end of each reference. For me, on the `jhudsl/course_template` docker image, whether I run by
[code]
Or if I go on the docker image, localhost:8787 and I run `bookdown::serve_book()` I get the same output.

So as far as inconsistency between the serve_book() and github ac

[2021-09-21 20:33] carriewright11 opened #227 "links to new tab"
**Is your feature request related to a problem? Please describe.**
It would be nice if when users clicked on a reference it took them to a new tab so that they don't lose their place in the chapter.

**Describe the solution you'd like**
Users could click on a reference and a new tab would open. Then they could return to reading the course

**Describe alternatives you've considered**
perhaps we can

[2021-09-21 20:54] cansavvy commented on #227
Sounds like a great idea. I’ll take a look into it.

[2021-09-22 00:51] #199 closed, assigned to nobody

[2021-09-22 15:58] cansavvy commented on #214
Figured out an okay solution: If you have a manual workflow trigger then you can specify the branch from which you'd like to test! Bingo.

[2021-09-22 18:28] cansavvy commented on #226
This is partially addressed but I think there are other areas I can improve but I haven't figured it out yet.

[2021-09-22 19:42] cutsort opened #232 "What is the roadmap / policy for upgrading to R-4.1.1?"
- Worth adding tools like vi(m) less etc. to the Dockerfile?
- What is the roadmap / policy for upgrading to R-4.1.1?  Current R-4.0.2 locks us into Bioconductor 3.12 (Oct 2020)

[2021-09-22 22:14] carriewright11 commented on #225
I personally think it is easy for readers, because otherwise it moves them out of the chapter when they click on a link, but we can talk to Jeff about this at the meeting tomorrow. I thought I remembered seeing them in your course at some point at the end of each chapter as well but I don't know :P.

I guess the inconsistency must have something to do with my local set up. Will think about this mo

[2021-09-22 22:17] carriewright11 commented on #225
OK just checked your course on Leanpub and indeed you also have them at the end of each chapter. It seems like there might be something different about the Docker image that might account for this?

[2021-09-23 11:47] cansavvy commented on #225
Is this a problem you are only encountering on https://github.com/jhudsl/ITCR_Cancer_Research_Leadership ?  (I'm not encountering it on Documentation_and_Usablity as you mentioned. Just wondering if any of the css or style things or some other setting on https://github.com/jhudsl/ITCR_Cancer_Research_Leadership might disrupted this? Would be good to know what it is so we can warn people.

[2021-09-23 12:36] cansavvy opened #233 "Make spell-check.R put words in alphabetical order"
**Is your feature request related to a problem? Please describe.**
I know I could add two lines and have spell-check.R do this automatically. It would save us that much more time.

[2021-09-23 12:37] cansavvy commented on #233
Also while addressing this, I should make it so the dictionary.txt in _Leanpub doesn't get overwritten by the one in _Bookdown. Simple way is to just change its location, more complicated way is have the merge into one dictionary.

[2021-09-23 12:54] cansavvy opened #234 "Put the explanations of the Credits in hover text"
**Is your feature request related to a problem? Please describe.**
People won't really know what our credit labels mean so I'd like to provide the descriptions in a way that isn't too intrusive. I think text that pops up when your mous hovers over the label would be great.

**Describe the solution you'd like**
I think this should provide us with a way to do it: https://stackoverflow.com/questions/

[2021-09-23 13:32] carriewright11 commented on #225
Yes, I do see that although your Leanpub version has references, (which is probably from a previous version I would imagine?) this version doesn't seem to: https://jhudatascience.org/ITCR_Documentation_and_Usability/.  I will keep looking into what might have changed recently.

[2021-09-23 13:33] carriewright11 commented on #225
I will try with another repo as well

[2021-09-23 14:03] cansavvy opened #235 "problem: My transfer-rendered.yml fix doesn't work on private repositories (of course)"
**Describe what is not working with the template or is unclear in the documentation**
I couldn't understand why my git-check-repo.R script couldn't find my repo: https://github.com/jhudsl/ITCR_Documentation_and_Usability_Leanpub and then it hit me: It's a private repo so it can't find it. I would have to pass it credentials in order for it to find it.

So I need to add a new argument so I can pass

[2021-09-23 14:45] #235 closed, assigned to cansavvy

[2021-09-23 14:47] cansavvy opened #238 "Add to GitHub wiki about running github actions manually with workflow dispatch"
This is more of a documentation add then a new feature:

Particularly, I need to describe how this can be used for testing before merging to main.

https://docs.github.com/en/actions/managing-workflow-runs/manually-running-a-workflow

[2021-09-23 14:57] cansavvy commented on #238
Before I do this, I need to have render-bookdown.yml commit back to whatever branch it was called on. So if its not merged yet, don't commit to main, but if it is merged, than commit to main.

[2021-09-23 14:58] cansavvy opened #239 "Figure out what is left before Release 1.0"
What of the currently open issues needs to happen before we call this ready for testing? Need to go through and triage and then after that actually create a 1.0 tag and make release notes.

[2021-09-23 15:19] cansavvy commented on #133
This should be a higher priority. Going to work on it next.

[2021-09-23 15:22] cansavvy commented on #219
@carriewright11 Is this something you'd want to figure out?

[2021-09-23 15:28] carriewright11 commented on #219
Sure! I have been thinking about this... wondering if making a shiny app that would allow people to fill out different roles would be good. Obviously that would take some time... but I have something I could maybe build on that would at least make it a tad easier. Also, trying to think about simpler solutions.

[2021-09-23 15:30] cansavvy commented on #219
I think there’s a lot of instances where a Shiny app would be great for the template, but obviously I think we have bigger fish to fry before we can get to that.

[2021-09-23 17:23] carriewright11 commented on #225
![Screen Shot 2021-09-23 at 1 22 00 PM](https://user-images.githubusercontent.com/23014755/134554725-943bbd7c-61bf-48e9-9356-12da6be17337.png)
![Screen Shot 2021-09-23 at 1 22 13 PM](https://user-images.githubusercontent.com/23014755/134554778-6c026e42-9165-4680-bfb7-d5c3115b336e.png)
)

[2021-09-23 17:27] carriewright11 commented on #225
2.11.4

[2021-09-23 17:44] cansavvy commented on #225
Leanpub versions have citations at the end of each chapter while bookdown does not. Its not a version problem, we've narrowed that down. I also saw if maybe its a `--citeproc` difference, it is not.

I believe leanbuild makes the references using this: https://github.com/jhudsl/leanbuild/blob/03f75bceb187511416fd9f1426a4f171e8f28ebe/R/bookdown_to_leanpub.R#L268

So we could add this to the GHA ren

[2021-09-24 11:51] cansavvy commented on #225
Right now I think the biggest suspct is bookdown: 0.20 on the docker image, but 0.24 for @carriewright11 's local computer. So I'm going to bump up to .24 and see what happens.

[2021-09-24 11:52] cansavvy commented on #239
Also when we tag a new release, we should tag a docker image parallel to it.

[2021-09-24 12:08] carriewright11 commented on #225
https://bookdown.org/yihui/bookdown/citations.html - If you read the last part of this it suggest that it has to do with how the output style is specified.

[2021-09-24 12:11] carriewright11 commented on #225
https://pandoc.org/MANUAL.html#placement-of-the-bibliography

[2021-09-24 12:14] carriewright11 commented on #225
perhaps an alternative, is that we can link to the actual source instead of the reference list: https://pandoc.org/MANUAL.html#other-relevant-metadata-fields

Still better to probably have the original option though... hope the bookdown version change works!!

[2021-09-24 15:30] cansavvy commented on #225
Upgrading bookdown to 0.24 fixed it! https://jhudatascience.org/DaSL_Course_Template_Bookdown/topic-of-section.html

[2021-09-24 15:32] cansavvy commented on #225
I've also deleted the references.Rmd file and updated _bookdown.yml accordingly!

[2021-09-24 15:32] #225 closed, assigned to cansavvy

[2021-09-24 15:33] cansavvy commented on #226
This is addressed as well as it will be for now.

[2021-09-24 15:33] #226 closed, assigned to nobody

[2021-09-24 15:34] cansavvy commented on #133
Addressed!

[2021-09-24 15:34] #133 closed, assigned to cansavvy

[2021-09-24 16:05] cansavvy commented on #223
Done!

[2021-09-24 16:05] #223 closed, assigned to cansavvy

[2021-09-24 16:09] carriewright11 commented on #225
Does this not result in the references being appended to the about page like it was? or you also modified that?

[2021-09-24 16:11] carriewright11 commented on #225
Looks like they are at the bottom after session info.
I am ok with having references in both places if you are.

[2021-09-24 16:15] carriewright11 opened #245 "> Re-rendered previews from the latest commit:"
These don't appear to have my current changes. :(

These don't seem to have my current edits :(

_Originally posted by @carriewright11 in https://github.com/jhudsl/DaSL_Course_Template_Bookdown/issues/244#issuecomment-926755442_

[2021-09-24 16:20] carriewright11 opened #246 "references.Rmd as well as refs at end of chapters?"
Looks like they are at the bottom after session info.
I am ok with having references in both places if you are.

_Originally posted by @carriewright11 in https://github.com/jhudsl/DaSL_Course_Template_Bookdown/issues/225#issuecomment-926752618_

[2021-09-24 16:32] cansavvy opened #247 "Have preview comment indicate the commit ID it was rendered with"
It takes time to render so you have to look at the time it was updated to know if your changes should be in there

Maybe showing the commit ID it using would be more helpful?

_Originally posted by @cansavvy in https://github.com/jhudsl/DaSL_Course_Template_Bookdown/issues/244#issuecomment-926763784_

[2021-09-24 16:34] cansavvy commented on #247
Also need to fix `preview` branch handling: https://github.com/jhudsl/DaSL_Course_Template_Bookdown/runs/3702172429?check_suite_focus=true

[2021-09-24 16:37] cansavvy commented on #246
Both places is fine

[2021-09-24 16:38] carriewright11 commented on #246
OK I can add this back

[2021-09-24 16:38] cansavvy commented on #245
Closing in favor of issue description on #247 Will track over there.

[2021-09-24 16:38] #245 closed, assigned to nobody

[2021-09-24 18:44] cansavvy opened #249 "Don't transfer coursera stuff over to _Leanpub"
I need to have the transfer step only transfer over the `docs` folder sans the `docs/coursera` folder.

[2021-09-27 12:52] cansavvy commented on #247
Done!

[2021-09-27 12:52] #247 closed, assigned to nobody

[2021-09-27 12:53] cansavvy commented on #246
Looks like this was done in #241

[2021-09-27 12:53] #246 closed, assigned to carriewright11

[2021-09-27 12:54] cansavvy commented on #249
Done!

[2021-09-27 12:54] #249 closed, assigned to cansavvy

[2021-09-27 17:50] cansavvy commented on #232
`vim` has been added to the docker image. Now this is left with a question of how/when do we update to R 4.1.1

[2021-09-27 18:06] cutsort commented on #232
vim users rejoice :)

Possible to maintain two versions?  This would allow us to support the current and prior Bioconductor release ...

[2021-09-27 18:08] cansavvy commented on #232
Possible: yes. Ideal? No.

Is there a particular need that upgrading Bioconductor is helping address? Maybe this will help me understand the pros and cons, because right now I only see cons.

[2021-09-27 18:30] cansavvy commented on #202
I've made it so when a release is created the latest docker image is built, tagged with the same release number and pushed. (I still need to test this).

[2021-09-27 18:31] cansavvy commented on #239
The before 1.0 tags are our path to the first release!

[2021-09-27 18:31] #239 closed, assigned to nobody

[2021-09-27 18:33] cansavvy commented on #205
Ira posted his thoughts on this in BaseCamp. Because this advice is fairly specific to our group, I don't think it makes sense to add it to the Wiki here. So this is addressed.

[2021-09-27 18:33] #205 closed, assigned to nobody

[2021-09-27 23:42] cansavvy commented on #202
This is all set. I don't want to do another test because apparently you can't fully delete the release tag. *Should* work. We'll find out when we do the release. I'll open a new issue if something needs to be fixed.

[2021-09-28 02:55] carriewright11 commented on #219
I think we can close this now.

[2021-09-28 02:55] #219 closed, assigned to carriewright11

[2021-09-28 12:00] #202 closed, assigned to cansavvy

[2021-09-28 12:42] cansavvy opened #257 "Add reminder to publish to Leanpub issue"
Adding a reminder to publish issue for when changes to Leanpub `manuscript` happen.

I thought adding this reminder issue for publishing to Leanpub would be a nice quick add before 1.0, but it is failing: https://github.com/jhudsl/DaSL_Course_Template_Leanpub/actions/runs/1282527944

Because its not a high priority, I reverted it for now and I'll return to it later.

[2021-09-28 14:43] cansavvy opened #259 "html preview apparently can't handle the arrows"
See this conversation: https://github.com/jhudsl/ITCR_Documentation_and_Usability/pull/81#issuecomment-928516924

But it's not a problem after you merge and its hosted on github pages. ¯\\_(ツ)_/¯

I don't love this, but not sure how to fix it.

[2021-09-28 17:33] cansavvy opened #262 "problem: preview branch isn't deleting?"
**Describe what is not working with the template or is unclear in the documentation**
Unclear what the problem is to me at this time: https://github.com/jhudsl/DaSL_Course_Template_Bookdown/runs/3735510538?check_suite_focus=true

[2021-09-28 23:31] carriewright11 opened #269 "Update images of template files in Wiki"
want to update the image about the template files to edit after the workflow file itself is updated

[2021-09-29 00:24] cansavvy commented on #262
Tried to implement a fix #270 Will see if it works.

[2021-09-29 00:30] cansavvy commented on #262
Working for now: https://github.com/jhudsl/DaSL_Course_Template_Bookdown/runs/3738882079?check_suite_focus=true

Will reopen if it fails later.

[2021-09-29 12:21] #262 closed, assigned to cansavvy

[2021-09-29 12:53] cansavvy commented on #212
I think the main problems with this have been addressed adequately for version 1.0. Turned out to mostly be a broken URL:  https://github.com/jhudsl/Documentation_and_Usability/pull/86 Will keep issue open but remove the before 1.0 label.

[2021-09-29 13:31] cansavvy opened #273 "Have GHA and individuals pull from a stable jhudsl/course_template docker image"
Docker image version is tied to the release version of this template repository. 1.0 = 1.0 for both currently.

I manually pushed an image that is `jhudsl/course_template:1.0`. question now is should we encourage individuals to pull the 1.0 image or the `latest` image?

_Originally posted by @cansavvy in https://github.com/jhudsl/DaSL_Course_Template_Bookdown/issues/271#issuecomment-930173214_

[2021-09-29 14:48] cansavvy opened #275 "Advertise this template on the itcrtraining.org website"
https://www.itcrtraining.org/home

Maybe with some enticing graphic.

[2021-09-29 17:32] cansavvy commented on #275
Here's a draft of a graphic. @carriewright11 is working on one about why one would choose which platforms.
![GHA_SetUp](https://user-images.githubusercontent.com/23458084/135319444-17389551-9bbb-4ff1-867f-9273d6a343b2.png)

[2021-09-30 17:35] #275 closed, assigned to cansavvy

[2021-10-06 14:49] carriewright11 opened #288 "problem"
code of conduct typo - the Jeff Leek

[2021-10-06 14:49] carriewright11 commented on #288
Not sure how we want to handle things like this with releases...

[2021-10-06 14:50] cansavvy commented on #288
We can continue to make changes as normal here, but unless its a big change that needs to get addressed urgently, it will just be sent out with the next release.

[2021-10-06 15:12] #288 closed, assigned to cansavvy

[2021-10-06 15:47] carriewright11 commented on #269
This is done :)

[2021-10-06 15:47] #269 closed, assigned to carriewright11

[2021-10-06 15:51] carriewright11 opened #290 "guidance on changing hero image"
I should add info about changing the hero image in case people want to.

[2021-10-06 16:17] carriewright11 commented on #290
This is done now

[2021-10-06 16:17] #290 closed, assigned to carriewright11

[2021-10-07 17:51] cansavvy opened #291 "For feedback, send email to thank people"
**Is your feature request related to a problem? Please describe.**
I've gotten some feedback on the Docs and Usability course quizzes.

It was super nice of them to alert me to a few bugs.

We should have an automatic email sent to people as they give us feedback.

**Describe the solution you'd like**
Should be able to use Zapier for this.

[2021-10-08 12:05] cansavvy commented on #291
We could use itcrtrainingnetwork@gmail.com for this?

However now I'm debating about whether it makes sense to automate this. Some people may not provide their email which might make this break.

But a confirmation of sorts that their feedback has been received is probably necessary. I think Google Forms has something built in? I'll check.

[2021-10-08 16:50] carriewright11 opened #292 "traffic tracking section"
Once we know if it is working add info on how to set up Google Analytics traffic tracking

[2021-10-11 13:17] cansavvy commented on #292
Yes this would be great. To what extent can we template-ize the script here: https://github.com/jhudsl/Documentation_and_Usability/pull/92/files ?

[2021-10-21 17:57] cansavvy opened #293 "Add info about ZoteroBib to the Wiki"
**Is your feature request related to a problem? Please describe.**
https://zbib.org/ is super useful for making the book.bib file and adding references. Should add some more in-depth instruction on that in the Wiki.

[2021-10-28 15:53] KatherineCox opened #296 "Update License"
The template currently has an [MIT License](https://github.com/jhudsl/DaSL_Course_Template_Bookdown/blob/main/LICENSE), which gets propagated to courses.  Courses generally want to be licensed under CC-BY.

On Basecamp we discussed changing the license for the template to CC-BY to make things easy for courses.

Other option, if we want to keep the template on MIT, would be to add some information

[2021-10-28 15:59] cansavvy commented on #296
I'm fine with changing to CC-BY, I think this makes sense, Do you want to file a PR for this, @KatherineCox ?

[2021-10-28 16:39] KatherineCox commented on #296
~~Happy to file a PR, not quite sure how to set up the license.  Looks like CC-BY isn't available as one of the license types provided through GitHub.  Looking at the CC website, I didn't find an official plaintext or markdown version (and they encourage you just to link to their site).~~

~~I can~~

~~a) delete the LICENSE file and just add the link in the README~~

~~b) Add the link to the LICEN

[2021-10-28 17:48] KatherineCox commented on #296
Ah, @cansavvy, another question - the link that's currently at the bottom of the readme is for CC-BY 3.0.  Is there a reason for using 3.0, or should we go with 4.0?

[2021-10-28 18:40] cansavvy commented on #296
I'm not aware of a reason. But also don't know the differences between the versions!

[2021-10-31 20:23] KatherineCox commented on #296
Looks like the link in the bottom of the README is for 3.0 but the link in the footer of the rendered book is for 4.0, so we're a bit confused about things anyway :)

I don't know the details of what's different, just that the updates in 4.0 are generally about clarifying some things that were confusing or ambiguous about 3.0.  I'm going to go ahead and switch the README and repo license to 4.0 to

[2021-11-01 19:01] cansavvy opened #300 "Release 1.2"
So far, I don't think any of the most recent changes are huge break-fixing changes, so I'm not in a rush yet to make the next release, but maybe we are close to accumulating enough changes that a release is in order. Maybe once the currently open PRs are merged it makes sense to do a release.

#### On deck PRs (not yet merged):

- Updating license https://github.com/jhudsl/DaSL_Course_Template_Boo

[2021-11-01 19:53] carriewright11 opened #301 "Add instructions about how to add Google Analytics to courses"
Jeff asked for this and I think it is a nice thing to add for our lab and for other users.

[2021-11-02 17:56] carriewright11 commented on #296
I think having different versions was just an error. Thanks @KatherineCox!

[2021-11-03 01:41] carriewright11 commented on #301
This is done!

[2021-11-03 01:41] #301 closed, assigned to carriewright11

[2021-11-03 01:42] carriewright11 commented on #292
oops made two issues about this  (also #302) and then forgot :P This is done!

[2021-11-03 01:42] #292 closed, assigned to carriewright11

[2021-11-03 01:43] carriewright11 commented on #291
aww nice idea :)

[2021-11-03 12:48] cansavvy opened #306 "What's the recommended workflow for using the docx way of writing and editing?"
How should this docx be used? I think it makes sense to keep it on Google Drive and I think if we borrow mechanics from leanbuild, this is very doable, but we should discuss what this workflow should look like. We don't want peoples edits in the docx to get overwritten.

Also what's the best way to transfer edits from a docx to the Rmds?

_Originally posted by @cansavvy in https://github.com/jhuds

[2021-11-03 13:39] avahoffman commented on #306
I agree overwriting is a problem. Maybe by default it can be read-only, forcing users to make their own copy?

I didn't mess around with Google Drive too much, since then we get into the weeds of authentication, where the file lives, etc. It'll just take a bit more work.

I am envisioning the docx as more of a convenience feature, with individual instructors being able to download the book as a do

[2021-11-03 14:47] #296 closed, assigned to cansavvy

[2021-11-03 14:47] cansavvy opened #310 "Render preview can't write a comment when the PR is a forked repository"
The preview builds properly, but it just doesn't have permissions to write the comment with the links. There's a way around this that involves writing a github actions that triggers with `pull_request_target: synchronize` but I think this is a job for another day. The payoff is not worth how much its going to further obfuscate the github actions setup

_Originally posted by @cansavvy in https://gi

[2021-11-03 14:48] carriewright11 commented on #306
That makes sense. I understand better now how people might be using the repos. Happy to help with formatting :)

[2021-11-03 14:57] carriewright11 commented on #306
This might be helpful: https://ardata-fr.github.io/officeverse/office-documents-generation.html#templates

[2021-11-03 14:59] cansavvy commented on #306
Thanks for the context info, @avahoffman

I normally would agree, but muschellij2 did a lot of the work for these kinds of entanglements on leanbuild, so we should be able to borrow from there.

Totally agree, I think this is a whole tangled world we don't even want to get into.

Based on what you are saying then, I could see a situation for making a read-only google doc version that you someone c

[2021-11-03 15:09] avahoffman commented on #306
Sounds good! Perhaps instead of comments we should just make it clear that users should submit an issue (which is fairly non-technical)? I imagine getting comments to persist is tricky.

[2021-11-03 15:21] cansavvy commented on #306
Yes, for general comments, I think an issue is best, but I could see situations in which people want to make line-by-line comments and this is where Google Docs would really come in handy

[2021-11-03 15:40] cansavvy commented on #306
Meh. After doing a quick look around at some tools and solutions. I think manual upload to google drive and commenting is the best. That way people know exactly what they are commenting on. Keep it simple.

[2021-11-03 15:43] avahoffman commented on #306
+1 Meh. So keep as is with docx download? The user then decides where to take it from there?

[2021-11-03 15:44] cansavvy commented on #306
I think so. We can add something in the Wiki section that describes some suggestions on how to use it.

[2021-11-03 15:53] avahoffman opened #312 "Update wiki related to `docx`"
see discussion here: #306

[2021-11-03 15:54] avahoffman commented on #306
Sounds good. I think we might also want to show users how to take it out (I think it adds considerable build time for large repos).

I'm happy to add to the wiki :) #312

[2021-11-03 16:30] cansavvy commented on #300
Release 1.2 is not going out correctly. There were some errors in the sync file that I've fixed but the main hold up is: https://github.com/BetaHuhn/repo-file-sync-action/issues/126 In the meantime, I could split up the syncs into two sets, but I don't really want to have to do that.

[2021-11-03 17:30] cansavvy commented on #300
I resorted to a much earlier version of `BetaHuhn/repo-file-sync-action` in the meantime and so for now we are working. I'm subscribed to the issue though and we can look to update again after that's resolved. For now this version works.

[2021-11-03 17:30] #300 closed, assigned to cansavvy

[2021-11-03 18:52] cansavvy opened #316 "No changes -> No preview branch -> No comment"
Related to this GHA: https://github.com/jhudsl/DaSL_Course_Template_Bookdown/runs/4096634279?check_suite_focus=true

It still prints out the comment even though there are no changes and therefore no preview branch. I should have it so it prints out a comment like "no changes to preview" or something. That would be more clear.

[2021-11-03 19:01] cansavvy opened #317 "Delete Wiki screenshot files upon use of the template"
The contents of these folders are only used by the WIki and are not needed by downstream courses created by this template. I should also look if there's any other files that should be deleted upon using the template.

- `resources/screenshots`
- `resources/course_screenshots`

[2021-11-04 18:13] KatherineCox opened #318 "Delete old .md and .html files from /docs"
**Describe what is not working with the template or is unclear in the documentation**
When .Rmds are deleted, the corresponding .md and .html files in `/docs` are not deleted.  This means that pages like [this](https://jhudatascience.org/GDSCN_Book_SARS_Galaxy_on_AnVIL/topic-of-section) exist in the rendered book.

**Please link to the specific course repository you are working on**
https://github

[2021-11-04 18:15] cansavvy commented on #318
It just so happens I already have this change in the works! Its related to #317 and I'll be filing a PR shortly. Thanks for the issue. Let me know if you see anything else!

[2021-11-04 18:39] #318 closed, assigned to cansavvy

[2021-11-04 18:40] #317 closed, assigned to cansavvy

[2021-11-04 19:06] KatherineCox commented on #318
@cansavvy that will take care of the lingering example files, but I think the problem will still exists if I create a new Rmd and then later decide I don't want that section.

e.g https://jhudatascience.org/AnVIL_Book_Getting_Started/student-account-setup.html shouldn't exist anymore, since we removed it from the .Rmd content

[2021-11-04 19:08] KatherineCox commented on #318
I think we need a way to delete the content of docs every time the book rerenders.

[2021-11-04 19:17] cansavvy commented on #318
Yeah, this has been on my TODO list: See #111

If you'd like to take a whack at it, that'd be great, but I can also bump it up on my priority list.

[2021-11-08 21:46] cansavvy opened #321 "Find a way to add automatic messages with downstream-mechanics-updates.yml"
## Is your feature request related to a problem? Please describe.
Sometimes the template updates will inevitably need some other additional changes or information that will need to be shared with them. See this example: https://github.com/jhudsl/Computing_and_Data_Management/pull/26#issuecomment-959853270

^Super monotonous and incomplete to try to manually put this message on all the dowstream re

[2021-11-10 19:01] carriewright11 opened #322 "Feedback button"
Sounds like people are interested in feedback button feature. Should at least add an explanation of how to do this to the wiki but it would be great to actually have an automatic option. Fred suggested automatically linking to creating issues for the respective repo.

[2021-11-10 19:02] carriewright11 commented on #322
I suggested that we could make more project specific style docs that could be used for more projects like we did for DataTrail. Still might be something to think about in general.

[2021-11-10 22:04] cansavvy commented on #322
We've come up with genera plan on BaseCamp for incorporating the feedback button.

The default will be that the feedback button goes to the "https://github.com/<repo>/issues"

It's a good idea for to have authors explicitly choose a feedback method. So we'll have an autogenerated issue upon using the template that says to pick a feedback method.

We'll also need to explain and link to the wiki abo

[2021-11-12 11:25] cansavvy commented on #310
I believe this is fixed. But if we see it happen again we can reopen.

[2021-11-12 11:25] #310 closed, assigned to nobody

[2021-11-12 15:20] cansavvy opened #323 "Have a library of style directories"
## Is your feature request related to a problem? Please describe.
We have multiple styles for different courses floating around: Data Trail, ITCR, and AnVIL for example.

We need to have a better structure for how these are organized and how to deplot a particular style.

[2021-11-12 15:29] cansavvy opened #324 "DaSL organizing idea meeting"
This ended up becoming a running list of notes that I'm not splitting up into more meaningful, tangible issues.

[2021-11-12 15:43] cansavvy commented on #324
- Scrape the new stuff, but then fill in the old stuff as we add it to the new template.
- Have quality metrics that allows a course to be included in the library?
- Look at the date for the certification
- Check up on whether there's a learning objective and add things to the library when there are learning objectives.
- How to do we mark that something is "under construction".

[2021-11-12 15:53] cansavvy commented on #324
- Have it tagged with release 1.0 when it's ready to be public.
- Leanpub, Bookdown, Coursera -- how to know where things are added? -- have this manually added, but the GitHub pages can be added automatically.
- Keep a list of Google slides somewhere too.
- Setting up a shared drive how do we do that? -- get one admin account and see how that goes?
- Add to instructions that you need to add your

[2021-11-12 16:12] cansavvy commented on #324
- How easy is it to translate courses into another course? How do we make material not redundant? Should have guidance about this?
- @carriewright11 wants to clean up CSS code

[2021-11-12 16:21] cansavvy commented on #324
- Keeping track of percent authorship on each course? Where do we put this? Make a folder in the drive called `finance` and record in a googlesheet there.
- Record the price of the Leanpub course in this sheet too.
- Optimal length of courses and whether things are bundled as a course set or as individual courses?
- Can you click into each of the courses? You can go to view courses and pick each c

[2021-11-12 17:10] cansavvy opened #325 "Jhudsl Course Content Library"
## Is your feature request related to a problem? Please describe.

There's so much course content out there by the jhudsl it can be hard to keep track and find things!
this is a problem for two reasons:
1) Let's try not to rewrite content that has already been written. We can recycle some content!
2) Users have trouble finding this content (or we do too!)

## Describe the solution you'd like

Step

[2021-11-13 01:24] cansavvy commented on #322
Being addressed on #326

[2021-11-13 01:28] cansavvy commented on #323
I think how we might want this to work, is have the same file names for all style set ups but then split them into their own directories that one can drop the files into the assets folder to "activate" a particular style.

This is going to break a lot of things temporarily I'm afraid. But it will have a better, clearer way to change style.

[2021-11-13 01:56] cansavvy opened #328 "Encourage releases in the Wiki!"
## Is your feature request related to a problem? Please describe.

Releases are good and are probably what #325 will partially be working on.

## Describe the solution you'd like

We should encourage people to use releases in the Wiki.

## Additional context

Probably better articles out there but this is a start: https://en.wikipedia.org/wiki/Software_versioning

[2021-11-13 02:03] cansavvy opened #329 "[Problem]: Tag setting for docker image failed"
## Describe what is not working with the template or is unclear in the documentation

https://github.com/jhudsl/DaSL_Course_Template_Bookdown/runs/4094938612?check_suite_focus=true

## Please link to the specific course repository you are working on
It may not like the decimals? IDK, need to look into it.

[2021-11-13 02:17] cansavvy opened #330 "Github secrets idea? -- might be dangerous"
## Describe the your scope of your content idea

https://github.com/google/secrets-sync-action

Is there a way to set the github secrets upon creating the repo from the template using this GHA? (Sounds risky but would be super nice for people to not have to deal with those shenanigans.)

[2021-11-13 02:51] cansavvy opened #331 "Collect as much course content and learning objectives automagically as possible"
## Describe the your scope of your content idea

To cut down on manual labor, I'm going to try to scrape as much course info from the jhudsl and DataTrail organizations as I can so we can add them to the library googlsheet to start off: https://docs.google.com/spreadsheets/d/13TvG95v71a0QsCcaZC7zB4GbtF67Q6Bb-Dc_GLOScHY/edit#gid=0

## Ideas on how to get there

This github scraper is something to l

[2021-11-13 02:58] cansavvy commented on #331
This is probably a better scraper: https://github.com/alirezamika/autoscraper

[2021-11-13 11:45] cansavvy commented on #331
Here's the idea:

1. Find repos in jhudsl with api
1. narrow down to those with GitHub pages
1. narrow  down to GitHub pages rendered with the template
1. collect _bookdown.yml from these repos
1. Read the Rmds listed
1. Collect all h1 and h2 (maybe h3) headers
1. Search for "learning objective"
1. Download that slide's text
1. Populate the Google sheet with this info

[2021-11-16 17:50] cansavvy commented on #111
This is a problem and its overdue that I fix it. I think easiest approach is to have render-bookdown.yml delete the docs/* folder completely before running. Or is that too dangerous?

[2021-11-16 17:54] #322 closed, assigned to cansavvy

[2021-11-16 17:59] cansavvy commented on #111
Testing this idea here: https://github.com/jhudsl/Reproducibility_in_Cancer_Informatics/pull/46

[2021-11-16 18:18] #323 closed, assigned to cansavvy

[2021-11-16 18:19] cansavvy commented on #306
It looks like #312 addresses the last of this issue so I think we can close this?

[2021-11-16 18:19] #306 closed, assigned to nobody

[2021-11-16 18:19] cansavvy commented on #321
I'm a bit stumped on this one. Was experimenting with some methods but so far nothing looks great.

[2021-11-16 19:23] #111 closed, assigned to cansavvy

[2021-11-18 03:05] cansavvy commented on #325
It's alive! https://docs.google.com/spreadsheets/d/1klDpaQcGjYUa5Xro-DxqNTJq7Did-Ujn7IGgm7W6kJ8/edit#gid=65359487

The only thing that https://github.com/jhudsl/gitHelpeR is not yet doing is writing this to the googlesheets directly, but that is for another day.

[2021-11-18 03:06] cansavvy commented on #331
Check it out! (NA means there's not a bookdown associated with the course as far as the GitHub API is concerned) https://docs.google.com/spreadsheets/d/1klDpaQcGjYUa5Xro-DxqNTJq7Did-Ujn7IGgm7W6kJ8/edit#gid=65359487

This accomplishes Steps 1 - 6 so far.

[2021-11-19 14:20] cansavvy opened #336 "Have a better testing system for repo syncing"
## Is your feature request related to a problem? Please describe.

I’m not happy with how haphazard the syncing downstream is. I’d like a way to do a test of deploying changes before I send it to ALL the repos.

## Describe the solution you'd like

Maybe I can set up a test-sync.yml that only goes to one test repo before I deploy it to all changes. The question is how do I make sure this test is r

[2021-11-19 14:24] cansavvy commented on #316
Hmm. This isn't working as I hoped. There's probably some logic or syntax issue.

[2021-11-24 16:11] cansavvy opened #337 "What to do with GAScript spec in output.yml in _Leanpub repo"
## Is your feature request related to a problem? Please describe.

## Describe the solution you'd like

We should try to think about what's the least janky solution for this.

I mean we can delete the line from output.yml that has the GAScript.html, but it would be good to do something a little more comprehensive and elegant in case the file name changes.

## Describe alternatives you've considere

[2021-11-30 17:22] #316 closed, assigned to cansavvy

[2021-11-30 17:44] #212 closed, assigned to carriewright11

[2021-11-30 17:46] cansavvy commented on #331
The rest of the issues for this will be tracked on https://github.com/jhudsl/gitHelpeR

[2021-11-30 17:46] #331 closed, assigned to cansavvy

[2021-11-30 17:47] cansavvy commented on #324
These have generally been recorded elsewhere.

[2021-11-30 17:47] #324 closed, assigned to nobody

[2021-11-30 17:48] cansavvy commented on #325
This is recorded more specifically on the other repos https://github.com/jhudsl/gitHelpeR and https://github.com/jhudsl/learning-planner

[2021-11-30 17:48] #325 closed, assigned to cansavvy

[2021-11-30 19:02] #39 closed, assigned to nobody

[2021-12-02 18:57] cansavvy opened #339 "These two chapters between two courses are almost identical - issue"
## Is your feature request related to a problem? Please describe.

There's some courses that might be borrowing content from each other. We don't want to just copy and paste because this can make a maintenance nightmare. If the files are *exactly* alike we could use the sync GHA, but with slide IDs and chapter numbers its unlikely this would be the case.

## Describe the solution you'd like

One s

[2021-12-03 13:33] cansavvy commented on #328
Done! https://github.com/jhudsl/DaSL_Course_Template_Bookdown/wiki/Release-a-course-for-public-viewing

[2021-12-03 13:33] #328 closed, assigned to nobody

[2021-12-06 21:05] cansavvy opened #341 "Add admin type file storage suggestions to Wiki"
## Is your feature request related to a problem? Please describe.

This is related to a BaseCamp discussion. There's some tips we have about setting up Google forms and drives, email, etc that would be good to have on the Wiki. We should discuss and find out what's the best tips and add those to the Wiki.

[2021-12-07 01:51] #337 closed, assigned to nobody

[2021-12-07 01:52] #222 closed, assigned to nobody

[2021-12-07 18:52] carriewright11 opened #342 "add GDSCN and AnVIL core style file structure to style-sets"

[2021-12-07 19:23] cansavvy opened #345 "Organize GHA into subdirectories?"
## Is your feature request related to a problem? Please describe.

I would very much like to organize all the github actions but I'm afraid to move them for fear that I will break one of them.

If I find out how to do this and I get brave I'll address it.

[2021-12-07 20:13] cansavvy commented on #227
This doesn't work in Leanpub so that's what's kind of holding me up for implementing this currently.

[2021-12-07 20:21] cansavvy commented on #312
Done: https://github.com/jhudsl/DaSL_Course_Template_Bookdown/wiki/Using-Google-Docs-to-solicit-feedback

[2021-12-07 20:21] #312 closed, assigned to cansavvy

[2021-12-07 20:21] #336 closed, assigned to cansavvy

[2021-12-07 20:29] cansavvy commented on #336
It works! https://github.com/jhudsl/DaSL_Course_Template_Bookdown/runs/4449069584?check_suite_focus=true

[2021-12-07 22:21] avahoffman commented on #312
@cansavvy Can I add some info about the yaml? something like what we put in the gdscn activity?
[code]

[2021-12-07 22:52] cansavvy commented on #312
Feel free to add any information that's pertinent! If it's a standard for a particular project just make sure it's clear that it's only for that project. Thanks!

[2021-12-08 02:41] carriewright11 opened #347 "Add style-set dir to repo syncs"

[2021-12-08 13:54] cansavvy commented on #347
Done!

[2021-12-08 13:54] #347 closed, assigned to cansavvy

[2021-12-08 13:57] cansavvy commented on #293
Done!

[2021-12-08 13:57] #293 closed, assigned to nobody

[2021-12-08 14:42] cansavvy commented on #321
I don't have a great solution but maybe a Zapier automated message to a Slack channel or BaseCamp is the way to go?

[2021-12-08 18:49] cansavvy opened #352 "Dates make render preview "appear" as if things have changed"
If you run the exact same set of files on two different days, render-preview will register the render as different because of the dates. This is kinda of annoying and I'd like to think of a way around it.

_Originally posted by @cansavvy in https://github.com/jhudsl/DaSL_Course_Template_Bookdown/issues/351#issuecomment-989092442_

[2021-12-10 21:32] avahoffman commented on #312
@cansavvy made it a little more general - feel free to tweak it! https://github.com/jhudsl/DaSL_Course_Template_Bookdown/wiki/Generate-docx-output

[2021-12-13 15:25] carriewright11 opened #354 "Way of getting reminders of text updates if you borrow text from another course"
## Is your feature request related to a problem? Please describe.

We are starting to borrow text from other classes. We want to have a reminder to check the text that was borrowed if the original text gets modified.

## Describe the solution you'd like

We could copy the rmd that the text comes from but not include it in the _bookdown.yml file - likely a different directory. When there are change

[2021-12-13 15:31] cansavvy commented on #354
Related to #339

[2021-12-14 07:58] carriewright11 opened #356 "Quiz ids"
maybe add that quizzes can't have the same id

[2021-12-14 12:41] cansavvy commented on #356
We can add a check for this in leanbuild as well: https://github.com/jhudsl/leanbuild/issues/52

[2021-12-14 17:54] cansavvy opened #357 "Add automatic issues for _Leanpub repo as well"
## Is your feature request related to a problem? Please describe.

There's not automatic issues for the Leanpub repository, so we should add that to help set up there too.

[2021-12-15 02:10] cansavvy opened #358 "Rename repository with OTTR in it?"
## Describe the your scope of your content idea
Since I'm starting to work on the manuscript and trying to get branding consistent, does it make sense to make sure OTTR is in the name of this repository?

It will be a pain to update links everywhere, but if we are going to do any name changing, this is the time to do it.

[2021-12-15 17:23] cansavvy opened #359 "Figure out what parts of the template could be automagically set up"
## Is your feature request related to a problem? Please describe.

Software Carpentries uses Jekyll to automatically set some text up. Could we do the same here?

Or at the very least could we delete the README section not relevant to the individual courses? https://github.com/jhudsl/DaSL_Course_Template_Bookdown#dasl-course-templates

[2021-12-17 01:18] cansavvy opened #360 ":warning: Name change to OTTR coming soon - this will break a lot of things"
## Describe the your scope of your content idea
For more consistent naming, we are changing the name of this repository and its associated _Leanpub repository to change from `DaSL_Course_Template_Bookdown` and `DaSL_Course_Template_Leanpub` and now become `OTTR_Template` and `OTTR_Quizzes`.

[2021-12-17 02:56] cansavvy commented on #354
I have a solution better than reminders and I'm using it to borrow from the Wiki of this repo for Intro_to_OTTR. I will write up some docs and maybe a formalized function for it. It will be super elegant and no manual changes needed. Edit once and it will appear in both!

[2021-12-17 05:00] cansavvy commented on #354
https://github.com/jhudsl/cow/pull/13

[2021-12-17 05:01] cansavvy commented on #339
It's well on its way to being solved. https://github.com/jhudsl/cow/pull/13 Just needs to be documented and added to the docker image.

[2021-12-17 14:21] avahoffman opened #364 "Create a link to download spell check results in the GHA bot rendered previews"
Maybe I'm just on the struggle bus but I feel like I'm always hunting around for the spell check output.. I was thinking it might be kind of nice to include a link to download the .tsv here:

<img width="572" alt="image" src="https://user-images.githubusercontent.com/15618412/146558054-af479500-2d10-4274-bdbb-a55c6824b833.png">

low priority tho - just getting this idea out there

[2021-12-17 14:29] cansavvy commented on #364
Excellent idea! I am happy to help on this!

[2021-12-17 19:12] KatherineCox opened #365 "Suggestion - some tips to add to the wiki"
A couple of things that have come in handy as we've been working on the AnVIL books, I thought they might be useful to add to the wiki.

<hr>

# Spell check

### URLs

If you want to write out a URL without having to add it to the spell check dictionary, you can style the URL as inline code by adding single back ticks, and it will be ignored by spell check:

Example:

[code]
Visit [`example.com`](

[2021-12-17 19:12] cansavvy commented on #354
This is in the Docker image now. I'm trying it out in the Advanced Reproducibility course here: https://github.com/jhudsl/Adv_Reproducibility_in_Cancer_Informatics/pull/23

Will add to the Wiki if this works.

[2021-12-17 19:14] KatherineCox commented on #365
For formatting tips, there's also the styled boxes, like this:

[code]
<img width="719" alt="Screen Shot 2021-12-17 at 2 10 46 PM" src="https://user-images.githubusercontent.com/13210811/146596142-21dc6868-da1a-4c94-88e1-da4691c93c83.png">

Which work nicely for the bookdown, but I don't know how well they play with other platforms, so I'm not sure if they're recommended

[2021-12-17 19:15] KatherineCox commented on #364
That would be great!

[2021-12-17 20:54] carriewright11 opened #366 "Add to the issue itself about hosting from docs dir on main branch"
I think this might help people who mostly follow the issue checklists

[2021-12-17 20:59] carriewright11 opened #367 "outdated workflow name for file transfer from render workflow"
## Is your feature request related to a problem? Please describe.
The workflow name in transfer-rendered-files.yml to run after for the workflow dispatch is: [ "Build, Render, and Push" ], but I think it should be ["Render Bookdown and Coursera"]

## Describe the solution you'd like
Just need to update  transfer-rendered-files.yml.

[2021-12-17 21:05] carriewright11 opened #368 "updating automatic issue - templates to edit"
automatic issue - templates to edit - not sure we want to edit title and author anymore

[2021-12-18 10:20] cansavvy commented on #365
These are great, @KatherineCox! Thanks for sharing this. We should definitely incorporate these.

[2021-12-18 10:21] cansavvy commented on #364
https://github.com/marketplace/actions/workflow-artifact-pull-request-comment

This GitHub actions might be able to do it for us if we borrow from it.

[2021-12-18 10:21] cansavvy commented on #358
This is done!

[2021-12-18 10:21] #358 closed, assigned to nobody

[2021-12-18 21:45] carriewright11 opened #370 "using the template outside of jhudsl organization"
I noticed that the starting course workflow had issues if the main branch rule happened too early - this had to be undone for everything to work properly. Perhaps we need to be more specific about the order of which automatic issues to follow when - start with secrets - let that workflow finish, then start on other automatic issue checklists.

[2021-12-19 19:55] cansavvy commented on #354
This is documented and working!! https://github.com/jhudsl/OTTR_Template/wiki/Borrowing-chapters-between-courses Please let me know what questions you have. The `cow` package is incorporated into the docker image so if you use this on the docker image or through rendering by GitHub actions, it should work!

[2021-12-19 19:55] #354 closed, assigned to cansavvy

[2021-12-20 03:07] cansavvy commented on #364
Why stop here!? Might as well make one for the URL checker too.

[2021-12-20 14:51] cansavvy commented on #364
It's working and its great: https://github.com/jhudsl/OTTR_Template/pull/371 Great idea!

[2021-12-20 14:51] #364 closed, assigned to nobody

[2021-12-20 14:51] cansavvy commented on #360
This has been accomplished!

[2021-12-20 14:51] #360 closed, assigned to nobody

[2021-12-20 15:31] cansavvy commented on #339
This is still in progress on #354. It's mostly there, just adding documentation

[2021-12-20 18:06] #370 closed, assigned to nobody

[2021-12-20 18:11] cansavvy commented on #366
This is done!

[2021-12-20 18:11] #366 closed, assigned to carriewright11

[2021-12-20 18:12] cansavvy commented on #367
This should be fixed now!

[2021-12-20 18:12] #367 closed, assigned to carriewright11

[2021-12-20 18:12] cansavvy commented on #368
Made these updates!

[2021-12-20 18:12] #368 closed, assigned to carriewright11, cansavvy

[2022-01-06 19:13] carriewright11 commented on #342
This is done :)

[2022-01-06 19:13] #342 closed, assigned to carriewright11

[2022-01-06 19:23] carriewright11 opened #375 "Style updates"
In reference to #365 I would like to:

-  describe more in the wiki about what is possible with the current style options

-  make some of these style elements more customizable (would be great if we could automate some of this at some point... I can imagine an rstudio [addin](http://rstudio.github.io/rstudioaddins/)) Addins could also be great for automating other aspects!

- clean up the style c

[2022-01-06 19:24] carriewright11 commented on #257
I like this!

[2022-01-06 19:30] carriewright11 commented on #339
this is done now right @cansavvy ?

[2022-01-06 19:30] cansavvy commented on #257
We may not need this if iframes work on Leanpub

[2022-01-06 19:32] cansavvy commented on #339
Yes!

[2022-01-06 19:32] #339 closed, assigned to cansavvy

[2022-01-06 19:43] carriewright11 commented on #257
good point - and/or if they improve the integration with their API

[2022-01-06 20:32] carriewright11 commented on #359
I like this one... what about incorporating some RStudio addins to leanbuild?

[2022-01-10 18:31] cansavvy opened #377 "[Problem] How should people who don't have permissions to OTTR_Template contribute?"
## Describe what is not working with the template or is unclear in the documentation

The GHA require secrets to run. How can these be run and still allow contributions from OTTR_Template forked repos?

## Solution strategy ideas:

1) Transfer the forked repo branch to this repo to make the PR?
2) Supply the GHA secret to the forked repository pull request?

Trying to think about which of these is

[2022-01-11 13:45] cansavvy commented on #377
<img width="726" alt="Screen Shot 2022-01-11 at 8 44 30 AM" src="https://user-images.githubusercontent.com/23458084/148953855-bb521341-c456-4806-a891-9b5e3bcfda0a.png">
 I think this should solve it. It's in organization settings > actions.

[2022-01-11 18:23] KatherineCox opened #378 "["Problem"] previewing new chapters"
## Describe what is not working with the template or is unclear in the documentation
I haven't tested thoroughly, but I've noticed a couple times that the auto-generated preview has trouble with newly created chapters.

If I merge the PR, the new chapter renders fine and the links work in the "published" bookdown; it's just in the preview that it's broken.

## Please link to the specific course re

[2022-01-11 18:41] KatherineCox opened #379 "Documentation - Crosslinking?"
What's the best way to do cross-linking (e.g. between chapters)? Is there a way that plays nicely across platforms?  Or does cross-linking only work if I stick to Bookdown and don't try to port to Leanpub or Coursera?

[2022-01-11 18:53] cansavvy commented on #378
I'll take a look into this, @KatherineCox Thanks!

[2022-01-11 18:55] cansavvy commented on #379
By cross linking, do you mean providing a link to another chapter in a different chapter?

If so, I generally put the full link aka something like: https://jhudatascience.org/Reproducibility_in_Cancer_Informatics/defining-reproducibility.html

This unfortunately doesn't work cross platform, but we can definitely implement something that does.

[2022-01-11 19:11] KatherineCox commented on #379
Yeah, linking from one chapter to another.  In the AnVIL books, there are a lot of places where it's nice to be able to say "for more information on X, see `this chapter`".

[2022-01-11 19:12] KatherineCox commented on #379
We're currently only using Bookdown, so, not an urgent request, just trying to figure out best practices and future-proof if we decide to put things on the other platforms.

[2022-01-12 18:20] #378 closed, assigned to cansavvy

[2022-01-12 18:43] cansavvy opened #381 "Document! the reorganization how ottr package runs given the iframe"
Right now, we do a lot of conversions with leanbuild. But with the iframe solution recently implemented by the folks at Leanpub, we can link to each chapter like we do with Coursera. This eliminates a lot of conversion steps :+1:

This does mean we need to reevaluate and reorganize the interactions and GHA between OTTR_Template and OTTR_Quizzes.

I think it probably makes sense to render both cour

[2022-01-12 18:44] cansavvy commented on #381
Here's an example of the preview of how iframe works:

https://leanpub.com/courses/jhu/jhudsl_course_template/read/preview/1

What we need to do is figure out what image to put on the poster space.

[2022-01-12 22:01] cansavvy opened #384 "Set permissions for syncs to non-jhudsl repos"
## Is your feature request related to a problem?

https://github.com/jhudsl/OTTR_Template/actions/runs/1689833133

The sync pr GitHub action doesn’t work for non jhudsl repos because of lack of permission.

So we need to figure out how to set the permissions correctly for syncs

Might be as simple as adding jhudsl or something as an external collaborator.

[2022-01-12 22:07] carriewright11 commented on #384
Happy to help test this out for OCS!

[2022-01-12 22:54] cansavvy opened #385 "[Problem] Spelling error download in PR outside the jhudsl org isn't working"
## Describe what is not working with the template or is unclear in the documentation
https://github.com/opencasestudies/OCS_Guide/pull/86

It's clearly grabbing something but it's not what I expected it to be.

[2022-01-13 18:53] jhudsl-robot opened #388 "Fill out the wiki about the jhudsl course library"
This is blank and needs to be filled out by @cansavvy
https://github.com/jhudsl/OTTR_Template/wiki/Add-course-to-jhudsl-course-library

[2022-01-13 21:51] cansavvy commented on #384
This is addressed by #389 and #387

[2022-01-13 21:51] cansavvy commented on #384
I'll reopen if it breaks

[2022-01-13 21:51] #384 closed, assigned to cansavvy

[2022-01-13 21:52] cansavvy commented on #385
This should be resolved now!

[2022-01-13 21:52] #385 closed, assigned to cansavvy

[2022-01-14 15:29] cansavvy commented on #388
This is fixed!

[2022-01-14 15:29] #388 closed, assigned to nobody

[2022-01-14 15:31] cansavvy commented on #377
I'm going to temporarily remove my privileges for @cansavvy on this repo and see if this fixed worked.

[2022-01-14 15:49] cansavvy commented on #377
Yay this works.

[2022-01-14 15:49] #377 closed, assigned to cansavvy

[2022-01-14 17:45] cansavvy commented on #377
The only thing that doesn't work with this is that render-preview and spell check won't be able to run, but if we just know that this is the case then we can act accordingly.

[2022-01-14 17:47] cansavvy commented on #365
I believe this has been addressed in #372

[2022-01-14 17:47] #365 closed, assigned to nobody

[2022-01-14 17:48] cansavvy commented on #352
SessionInfo() is the main source of the date changes, but I don't think this is worth making a work around for.

[2022-01-14 17:48] #352 closed, assigned to nobody

[2022-01-14 17:50] cansavvy commented on #329
This is fixed.

[2022-01-14 17:50] #329 closed, assigned to nobody

[2022-01-14 17:51] #321 closed, assigned to nobody

[2022-01-14 17:56] cansavvy commented on #356
Done! Added this to the Wiki.

[2022-01-14 17:56] #356 closed, assigned to carriewright11

[2022-01-18 18:45] KatherineCox opened #400 "Problem: Trouble building with jhudsl-robot"
I know this is bleeding edge, so, if some of this is still under construction, no worries, just documenting a couple problems I ran into using the template as of last Friday (1/14).

repository: https://github.com/jhudsl/GDSCN_bookdown_style

At first I tried setting it up without adding jhudsl-robot as a collaborator (since I'm part of jhudsl) but I was running into errors with `Commit rendered b

[2022-01-18 18:52] cansavvy commented on #400
Ah! Thanks for bringing this up. @KatherineCox  I was doing some tests on Friday and forgot to restore some of `jhudsl-robot`'s privileges. I just did that now so this *may* be fixed. But it's also possible there are still outstanding problems. Let me know and I'll be keeping an eye out myself.

[2022-01-18 18:53] cansavvy commented on #400
Sorry for the confusion! I think this was my fault because I forgot to restore things after the tests I ran.

[2022-01-18 19:01] cansavvy opened #401 "[Documentation]: How to manually trigger workflows"
Write about how to trigger github actions manually in the wiki.

Sometimes this can come in handy!

<img width="1182" alt="Screen Shot 2022-01-18 at 1 59 05 PM" src="https://user-images.githubusercontent.com/23458084/150001580-3c19d630-f388-4d34-aef5-92268ce8753e.png">

@KatherineCox This is probably pertinent to you based on what I noticed you were doing to force re-renders on https://github.com/

[2022-01-18 19:20] KatherineCox commented on #400
@cansavvy Hmmm, at the moment I'm still seeing the same "At least 1 approving review is required by reviewers with write access" error.

https://github.com/jhudsl/GDSCN_bookdown_style/pull/12

Do you know if your changes should work right away?  I can try again later today if it takes a little while to update.

Edit: I just double checked and confirmed that jhudsl-robot has write access to my repo

[2022-01-18 19:24] KatherineCox commented on #401
Thanks!  I was wondering if there was an easier way to run the actions :)

[2022-01-18 19:47] cansavvy commented on #400
@KatherineCox Working on this currently. Will try to push fixes as soon as possible

[2022-01-18 20:13] KatherineCox commented on #400
Thanks! I'm still able to work on things locally, so this isn't a huge blocker for me yet.

[2022-01-18 22:55] cansavvy opened #403 "Reconfigure spell check to save as a gist of jhudsl-robot"
The two gha pushing to the same branch is just causing too many problems (see #400).

I think it shouldn't be too bad to upload and clear out spell checks to gists like this: https://blog.ouseful.info/2019/02/12/adding-zip-files-to-github-gists/amp/

[2022-01-21 01:46] cansavvy opened #408 "Set default template button to use a release and not main"
## Describe the your scope of your content idea

I want to be able to set the `use this template` button to by default use the latest release instead of what’s in main. Sometimes the things in main don’t quite pan out so I’d hate for someone to create a new course with something less tested. But the releases are at a higher confidence level than what is in main at any particular moment.

I’m just

[2022-01-24 12:14] cansavvy commented on #408
I think the easiest way to do this is to have a `dev` or `staging` branch that we introduce changes to. Then only upon a new release are the changes actually put into `main` for users to use.

[2022-01-24 12:21] cansavvy commented on #408
Only problem with this solution is that you can't set one branch to the default PR branch and a different branch to the one for the default to be used as the template. So we'd have to manually always make our PRs to `staging` if we do this.

[2022-01-24 14:38] cansavvy opened #413 "Make it so you can run github actions if repo is private?"
I don't know yet if this is necessary. But it is a problem we've encountered so its worth thinking about whether we should enable GHA to run even if its a private repo. This would still necessitate that github secrets be set at the very least.

[2022-01-24 21:36] cansavvy opened #415 "Have Leanpub quiz feedback printed out in a comment"
The quiz formatting issues reported is very nice but is not easy to find when it is ran by Github actions.

I want to use the same machinery I used for the spell check GHA to print out a comment with the reported quiz problems over in the `OTTR_Quizzes` repository.

[2022-01-24 21:38] cansavvy opened #416 "OTTR_Quizzes wiki and directions needs some more love"
It's pretty outdated and isn't always the most descriptive because only Carrie and I have used it. Now that other people are interested in using it, I need to go through and polish it some more. There's a lot of important steps that if someone skips that step the GHA breaks.

Everything should be made more clear!

[2022-01-24 21:39] cansavvy commented on #400
This should all be resolved as far as I am aware, but @KatherineCox please let me know if it breaks again.

[2022-01-24 21:39] #400 closed, assigned to cansavvy

[2022-01-24 21:40] cansavvy commented on #381
This is on hold until we hear back from the Leanpub people about how the iframe is going.

[2022-01-25 14:43] KatherineCox commented on #400
It's working for me now, thanks!

[2022-01-25 16:35] cansavvy opened #417 "Make it so _Quizzes repositories are optional"
If course creators don't care about quizzes being private then they should be able have quizzes and connect this repository to Leanpub.

This would make a lot of things simpler so that someone can have just one repository if they want.

[2022-01-26 22:44] cansavvy commented on #417
YAY! This was very easy to do. Now to document it all!

[2022-01-27 00:43] cansavvy commented on #417
This was remarkably easy to do! (Hopefully it continues working well)

See the documentation updates on https://github.com/jhudsl/OTTR_Template/wiki/Publishing-on-Leanpub

[2022-01-27 00:45] cansavvy commented on #417
@tmm211 The one repository option is now the default (so no need to use the _Quizzes repository)

If you want to try it out and tell me what you think, I would love any feedback you have. See updated docs here: https://github.com/jhudsl/OTTR_Template/wiki/Publishing-on-Leanpub

[2022-01-27 00:46] cansavvy commented on #415
This is done!

[2022-01-27 00:46] #415 closed, assigned to cansavvy

[2022-01-27 00:47] cansavvy commented on #408
So, the riskier changes the plan is now to send them to `staging` if possible. That's as good as we can do for this for now.

[2022-01-27 00:47] #408 closed, assigned to cansavvy

[2022-01-27 00:47] cansavvy commented on #403
Spell check is now reconfigured again to go back to saving to the preview branch because this requires less permissions nonsense to happen. So this can be closed.

[2022-01-27 00:47] #403 closed, assigned to nobody

[2022-01-27 00:48] cansavvy commented on #413
This is working as of now with the work I was doing on OTTR_Quizzes. So I'm going to close this for now.

[2022-01-27 00:48] #413 closed, assigned to nobody

[2022-01-27 00:50] cansavvy commented on #381
So what we have in Leanbuild is what we have. So solution number 2) will be going forward which is autogenerate a related image to put in place upon rendering.

This lists a couple options of how to do this programmatically. I will test some of these out and determine which makes sense and add it to the Docker image.
https://www.booleanworld.com/take-screenshots-webpages-command-line/

[2022-01-27 14:30] tmm211 commented on #417
No way! Exciting!! I will try it out!
________
Tiffany Miller (she/her)
Data Sciences Platform
<https://www.broadinstitute.org/data-sciences-platform>
Broad Institute of MIT and Harvard

On Wed, Jan 26, 2022 at 7:45 PM Candace Savonen ***@***.***>
wrote:

[2022-01-28 02:29] cansavvy opened #423 "Be more clear about what to do with forks and editing sync yaml"
Forked repo pull requests work a little differently. The wiki should reflect this but it doesn't currently.

Docs docs docs.

[2022-01-28 02:30] cansavvy opened #424 "sync.yml for _Quizzes repository needs to have its own documentation"
Right now we only talk about OTTR_Template's sync.yml in the docs so it leaves people guessing about the sync.yml in OTTR_Quizzes.

Docs docs and more docs.

[2022-02-03 21:13] cansavvy opened #429 "Start up Google Group for OTTR Users"
Don't really know what entails in this but @avahoffman brought it up as a good way for people to be updated about OTTR and for them to report their own problems.

It's like a forum of sorts.

I'm opening this issue for us to keep track of the formation of the Google Group but also remember to document it in the Wiki.

[2022-02-03 21:13] cansavvy commented on #424
This has been specified in the docs now

[2022-02-03 21:13] #424 closed, assigned to cansavvy

[2022-02-03 21:14] cansavvy commented on #417
This is done for now (unless/until we encounter any problems with it).

[2022-02-03 21:14] #417 closed, assigned to nobody

[2022-02-03 21:14] cansavvy commented on #381
The screenshots part is complete. Next for it to make rmarkdowns with those screenshots

[2022-02-03 21:15] cansavvy commented on #357
This has been done.

[2022-02-03 21:15] #357 closed, assigned to cansavvy

[2022-02-03 21:16] cansavvy commented on #330
I looked into this alot but have not found it to be practical or worth our time. At this point I feel like the amount it makes things more confusing for users and also how much danger it adds outweighs the amount it would be helpful

[2022-02-03 21:16] #330 closed, assigned to nobody

[2022-02-03 21:18] cansavvy opened #430 "Docker test looks like it fails on sync PRs when its actually doing what it is supposed to be doing."
This can be confusing for people. But when the Docker test skips testing because it was already tested, it makes it look like it fails

See here for example: https://github.com/jhudsl/Adv_Reproducibility_in_Cancer_Informatics/actions/runs/1791528160

I need to make it so it is clear it is skipping the test because it is not necessary, not that it is failing.

[2022-02-05 01:21] cansavvy commented on #381
This is working pretty well now!

[2022-02-07 16:35] cansavvy opened #432 "install.packages() from right CRAN mirror devtools::install_versions"
How to make sure it pulls from the most recent CRAN mirror snapshot

[2022-02-07 20:33] KatherineCox commented on #408
@cansavvy This would also be resolved if we go with the "meta template" approach, right?

Like, if I set up a "AnVIL_Template" (which syncs with OTTR_Template), and I use the "AnVIL_Template" as the base for all my courses, then it should always be at a stable state, since it will only receive updates when they're released from the OTTR_Template.

[2022-02-07 21:09] cansavvy commented on #408
Sort of. Though I expect some (like myself) will still use the main OTTR Template for courses

[2022-02-08 00:04] cansavvy commented on #381
All that's left is more documenting

[2022-02-08 14:44] cansavvy opened #436 "Have a better way to customize github actions (and other parts of this repo)"
One strategy for customization is to have "spin off" templates that have configurations for particular use cases of OTTR.

But besides that, we also need a way to make it easier for folks to customize this repository and which github actions they would like to run.

[2022-02-08 14:50] cansavvy commented on #345
This doesn't work. :( Will have to think of another way to organize

[2022-02-08 14:50] #345 closed, assigned to cansavvy

[2022-02-08 23:56] cansavvy opened #439 "Add to the wiki about "next steps" github -- like resolving merge conflicts"
I've taken for granted that people will know how to resolve merge conflicts, so it would be good to add this info to the wiki and any other "next step" working with GitHub information.

[2022-02-08 23:57] cansavvy commented on #432
I need to look into the specific problem here and what the best way is to recommend people get around it.

[2022-02-09 14:58] cansavvy opened #440 "Look into Google Collab"
https://colab.research.google.com/'

How might this aide our OTTR users? Are there some things we can have run on there instead?

[2022-02-10 12:49] cansavvy commented on #432
This *should* be wrapped up now with those PRs.

[2022-02-10 12:58] cansavvy opened #447 "Switch `ottr` package name to `ottr_aide`"
Another package on CRAN swooped in to use the package name, `ottr`. So now we will have to switch the package name to something like `ottr_aide` instead.

This will create a lot of breaking changes again so I will try to do the changes when people are hopefully not likely to be in the middle of working on something.

[2022-02-10 14:15] cansavvy commented on #432
Done!

[2022-02-10 14:15] #432 closed, assigned to cansavvy

[2022-02-10 16:43] cansavvy commented on #416
This has been addressed

[2022-02-10 16:43] #416 closed, assigned to nobody

[2022-02-10 16:50] cansavvy commented on #430
I believe this should be fixed with #436's revamping. But we will see.

[2022-02-10 16:51] cansavvy commented on #74
This requires mario to be in a better spot.

[2022-02-10 16:52] avahoffman commented on #429
I think this is resolved by https://github.com/jhudsl/OTTR_Template/wiki/Getting-Help-(Google-Group)

[2022-02-10 16:53] cansavvy opened #450 "Release OTTR 2.0"
The goal of OTTR 2.0 will be to have something that works really well by the user and is ready to be advertised to the world via manuscript.

Here's what issues I think need to be addressed for an OTTR 2.0 to go out (This list can be edited depending on what others are thinking):

- [x]  Customizing OTTRs and their GHA - #436, #445 , #448 and #449
   - [x]  Add docs about customization set up!
- [

[2022-02-10 16:57] avahoffman commented on #291
What about this option for google forms?
![image](https://user-images.githubusercontent.com/15618412/153457419-0b3b2132-c9ee-4b73-9e24-53819e5c963e.png)

[2022-02-10 16:58] cansavvy commented on #257
This is not an issue now that iframes work!

[2022-02-10 16:58] #257 closed, assigned to nobody

[2022-02-10 16:59] avahoffman opened #451 "AnVIL Capability"
Adding AnVIL Capability. More detail coming soon...

[2022-02-10 17:01] avahoffman opened #452 "Rendering toggle for `pdf` and `docx`"
Needs to follow #448 and #449

[2022-02-10 17:05] cansavvy commented on #379
This does work across platforms now that we have iframes! But we should document this.

[2022-02-10 17:06] cansavvy commented on #291
Yes! That should work!

[2022-02-10 17:08] cansavvy commented on #273
We should make the GHA also pull from a stable version. Probably whatever docker image lands with #450 OTTR 2.0

[2022-02-10 17:09] #232 closed, assigned to nobody

[2022-02-10 17:10] cansavvy commented on #227
Now that Leanpub is using our iframes, we can do `target="_blank"` and that works. So we should update guidance and the pandoc citations accordingly so links always have `target="_blank"`

[2022-02-10 17:16] cansavvy commented on #44
The docker image is using bookdown 0.24 so bookdown::bs4_book() is available.

[2022-02-10 17:16] #44 closed, assigned to nobody

[2022-02-10 17:16] cansavvy commented on #38
Nah. Dockerhub is more widely used and we are fine with the setup as is.

[2022-02-10 17:16] #38 closed, assigned to nobody

[2022-02-10 17:19] cansavvy commented on #450
See the list of `before-manuscript` issues [here](https://github.com/jhudsl/OTTR_Template/issues?q=is%3Aopen+is%3Aissue+label%3Abefore-manuscript)

[2022-02-10 17:19] cansavvy commented on #429
Done!

[2022-02-10 17:19] #429 closed, assigned to avahoffman

[2022-02-10 17:24] cansavvy commented on #291
Done!

[2022-02-10 17:24] #291 closed, assigned to nobody

[2022-02-10 18:26] cansavvy opened #454 "OTTR course listing -- where do folks go to find courses made from OTTR"
The README has a short (and not up to date) list of a couple ITCR courses.

Where should folks go to find a full list of polished OTTR-made courses? This can be handy for inspiration as well as just seeing learning content that's out there.

What's the criteria and process for getting a course added to that list?

Probably easy first solution is to add a page to the wiki.

[2022-02-11 14:53] cansavvy opened #460 "When courses are on multiple platforms have them advertise themselves as such"
Right now in the courses I've written anyway, I don't have any indicators in the material that show how the course is on it's bookdown website, but also Leanpub and Coursera.

We should let the readers know the platform options since that's what this is about!

[2022-02-14 00:06] cansavvy commented on #447
Going to do this renaming which means things will be broken for a bit.

[2022-02-14 00:07] cansavvy commented on #447
Actually, I just realized I will have to push ALL the changes at once if I do this, and I want to have a bit more testing for our recent big changes, so never mind. Probably later this week though.

[2022-02-15 16:18] cansavvy opened #466 "Coursera only writing quizzes?"
Right now Coursera publishing assumes you've written quizzes in Leanpub. We should separate these in case someone only wants to write a quiz for Coursera.

[2022-02-15 16:29] cansavvy opened #468 "Have people write quizzes in Coursera first since they have a GUI?"
## Is your feature request related to a problem? Please describe.

Coursera has a nice GUI to make quizzes. This makes it super easy to make quizzes and you can download the yaml of the quiz

What if instead of doing Leanpub -> Coursera, we encourage people to do Coursera -> Leanpub since Coursera is much better at being user-friendly for writing quizzes?

This of course would mean we would need t

[2022-02-15 17:57] cansavvy opened #470 "Testing latest OTTR updates"
Step 1) take a look at the docs here: https://github.com/jhudsl/OTTR_Template/wiki/How-to-set-up-and-customize-GitHub-actions-robots

Please comment on anything that isn't clear (or feel free to make edits to the docs directly)

Step 2) Send the changes to one of your courses. Go here: https://github.com/jhudsl/OTTR_Template/actions/workflows/test-send-updates.yml Then click `Run Workflow` dropdow

[2022-02-15 18:48] carriewright11 commented on #470
So far reading it quickly - it looks great! maybe adding a sentence to each check about what happens if you put `no` would be helpful? also maybe showing the code for that as well - since this isn't the default?

[2022-02-15 18:50] carriewright11 commented on #470
also subheadings for spelling check style code, and docker test like the other subheadings might help navigation

[2022-02-15 18:58] avahoffman commented on #470
Looks great! A few thoughts below :)

- Add file preview
- Bulletize end of the intro section
- Clarify a bit of language in render-preview
- Add a screenshot?

-------

# Customizing Automation

By default, all automation steps and checks will run. But depending on the needs of your course, you can turn these on and off by going to the `config_automation.yml` file and switching options to `yes` o

[2022-02-15 19:52] cansavvy commented on #470
Thanks for these comments! I've incorporated them! https://github.com/jhudsl/OTTR_Template/wiki/How-to-set-up-and-customize-GitHub-actions-robots

[2022-02-16 00:13] cansavvy commented on #447
`ottrpal` is what is happening because we can't use an underscore.

[2022-02-16 00:14] cansavvy commented on #401
Done! https://github.com/jhudsl/OTTR_Template/wiki/How-to-set-up-and-customize-GitHub-actions-robots#manually-running-rendering-or-checks

[2022-02-16 00:14] #401 closed, assigned to nobody

[2022-02-16 00:15] cansavvy commented on #273
This is done! Now `jhudsl/course_template:main` is stable and `jhudsl/course_template:latest` is what is in development.

[2022-02-16 00:15] #273 closed, assigned to nobody

[2022-02-16 00:15] cansavvy commented on #381
Done!

[2022-02-16 00:16] #381 closed, assigned to cansavvy

[2022-02-16 00:16] cansavvy commented on #436
This is done!

[2022-02-16 00:16] #436 closed, assigned to avahoffman, cansavvy

[2022-02-16 00:27] carriewright11 commented on #470
Looks great! I found one word missing in the style check section that I added - but feel free to rephrase if you wanted something different:
https://github.com/jhudsl/OTTR_Template/wiki/How-to-set-up-and-customize-GitHub-actions-robots/_compare/b515a685b3375f8785779225523a1f7766845243...27eacff35e756df689164fd1ae905168629ffeb0

[2022-02-16 01:08] #447 closed, assigned to cansavvy

[2022-02-16 01:09] #430 closed, assigned to cansavvy

[2022-02-16 14:47] cansavvy opened #476 "Set Docker image for course in config_automation.yml"
The docker image definitely needs to be toggle-able! See this example: https://github.com/opencasestudies/OCS_Guide/runs/5217550844?check_suite_focus=true

_Originally posted by @cansavvy in https://github.com/jhudsl/OTTR_Template/issues/453#issuecomment-1041563971_

[2022-02-16 15:17] cansavvy opened #477 "If changes need to be made to jhudsl/course_template how to trigger rebuilds of docker image built from it?"
We're encouraging folks to build their docker images on top of `jhudsl/course_template` https://github.com/jhudsl/OTTR_Template/wiki/Using-Docker

But when changes are made to this image (which I don't expect to be often but still might happen) how do we make sure folks know they need to rebuild their images?

[2022-02-16 15:26] cansavvy opened #478 "Update workflow for rendering for use with _Quizzes"
If the Quizzes are stored in a separate repository, the workflow as it is doesn't exactly work. Need to reconfigure so that you can tell it to only to render and not look for quizzes.

[2022-02-16 15:46] cansavvy commented on #478
See this example: https://github.com/jhudsl/Documentation_and_Usability/actions/runs/1853495226

[2022-02-16 21:01] cansavvy commented on #476
This is done!

[2022-02-16 21:01] #476 closed, assigned to cansavvy

[2022-02-17 18:39] cansavvy commented on #238
Done

[2022-02-17 18:39] #238 closed, assigned to nobody

[2022-02-17 19:20] cansavvy opened #482 "Make reports downloadable on private repositories"
For the OTTR_Quizzes repos, that are supposed to be private repos, we still need to be able to download the spell check errors and quiz errors TSV files. But permissions errors make it so the link doesn't work.

I need to figure out a way around this.

[2022-02-18 16:58] cansavvy commented on #468
I've updated the documentation but there isn't anything to convert Coursera -> Leanpub. The main part of this issue is covered.

[2022-02-18 16:58] #468 closed, assigned to cansavvy

[2022-02-18 16:58] #466 closed, assigned to cansavvy

[2022-02-18 17:03] cansavvy commented on #439
This should be 95% resolved by #480

[2022-02-18 17:03] #439 closed, assigned to nobody

[2022-02-18 17:14] cansavvy commented on #379
Done: https://github.com/jhudsl/OTTR_Template/wiki/Borrowing-chapters-between-courses

[2022-02-18 17:14] #379 closed, assigned to nobody

[2022-02-18 17:15] #341 closed, assigned to nobody

[2022-02-18 17:21] cansavvy commented on #423
Added this link for explanation in the documentation: https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork

[2022-02-18 17:21] #423 closed, assigned to cansavvy

[2022-02-18 17:24] cansavvy commented on #454
This is listed here: https://github.com/jhudsl/OTTR_Template/wiki/Content-creation-tips#example-courses and on the README

[2022-02-18 17:24] #454 closed, assigned to nobody

[2022-02-18 17:27] cansavvy commented on #478
This is working as of now: https://github.com/jhudsl/OTTR_Quizzes in addition with the #480 it should be resolved I've been testing it on https://github.com/jhudsl/Reproducibility_in_Cancer_Informatics_Quizzes and https://github.com/jhudsl/Adv_Reproducibility_in_Cancer_Informatics_Quizzes

[2022-02-18 17:27] #478 closed, assigned to nobody

[2022-02-24 18:29] cansavvy commented on #470
This is done!

[2022-02-24 18:29] #470 closed, assigned to avahoffman

[2022-03-01 13:20] cansavvy opened #485 "Mysterious spell check script error"
Getting an error I'm not sure what it means. I don't get this error if I run this spell check locally.
https://github.com/jhudsl/Data_Management_for_Cancer_Research/runs/5375672111?check_suite_focus=true

[code]

[2022-03-01 13:54] cansavvy opened #487 "Populate fig.alt option automatically from Google Slide notes"
Right now we have to copy over the `fig.alt` option manually by copying over.

It would be nice if we had this copy over using ottrpal automatically so we know its always synced.

[code]

[2022-03-01 17:18] cansavvy commented on #485
Fixed

[2022-03-01 17:18] #485 closed, assigned to nobody

[2022-03-01 22:13] carriewright11 opened #488 "rendering error thoughts"
Occasionally I get this error... but I wonder if it should be flagged as an error.
![](https://user-images.githubusercontent.com/23014755/156257608-30257e3e-bb1b-455c-90cb-3798a804452c.png)

[2022-03-01 22:14] cansavvy commented on #488
Can you link me to where this happened most recently? I sent out a fix for it, but I'm wondering if it got incorporated into the repo this came from.

[2022-03-01 22:16] carriewright11 commented on #488
ah ok I just had it for the [computing ITCR course](https://github.com/jhudsl/Computing_for_Cancer_Informatics)... but I have a sync waiting cause it has an error and I wanted to finish the course very soon

[2022-03-01 22:18] carriewright11 commented on #488
glad to hear you already fixed this! It's probably fixed by this [sync](https://github.com/jhudsl/Computing_for_Cancer_Informatics/pull/58)?  I will work on doing the sync now

[2022-03-01 22:20] carriewright11 commented on #488
looks like the error comes from not having the config_automation.yml file yet

[2022-03-01 22:59] cansavvy commented on #488
Yes, I had the config_automation.yml file in there but didn't want it to overwrite people's existing config_automation.yml so I removed it from the sync

[2022-03-01 23:07] carriewright11 commented on #488
Right makes sense... I was just a strange case (like other old repos) where I never had that file/

[2022-03-02 14:56] cansavvy commented on #488
https://raw.githubusercontent.com/jhudsl/OTTR_Template/main/config_automation.yml

You can add it manually

[2022-03-02 15:32] carriewright11 commented on #488
I did already :) thanks!

[2022-03-02 15:33] carriewright11 commented on #488
This is probably fixed, so I will close this issue. If I encounter the error again, I will let you know.

[2022-03-02 15:33] #488 closed, assigned to cansavvy

[2022-03-03 16:02] cansavvy opened #492 "Combine check reports into one comment"
Currently all the check results print out in their own separate comment. Ideally these should be in one comment so it's easier to find and read.

[2022-03-04 13:47] cansavvy opened #493 "Be able to set style options through config_automation.yml"
Related to #453

It would be great to have style items easily set through config_automation.yml

Especially for people like myself who don't feel confident about adjusting style by hand, it would be great to have some options in config_automation.yml to make it easier to adjust.

[2022-03-04 13:47] cansavvy commented on #493
This would probably be a thing that @carriewright11 and myself could pair on to get done.

[2022-03-04 14:29] carriewright11 commented on #493
yeah! sounds like a great idea

[2022-03-04 19:01] cansavvy commented on #487
I'm so close to having this done, but I just can't figure out how to access the Google Slides information without giving the Google Slides credentials. I want to avoid credentials because I don't want to make it more difficult for others to use this function.

[2022-03-04 19:14] cansavvy commented on #487
https://developers.google.com/slides/api/reference/rest/v1/presentations/ shows that OAuth is needed. Which doesn't make sense why you need that even if the slides are made public.

[2022-03-04 19:17] cansavvy commented on #487
https://cran.r-project.org/web/packages/googleAuthR/vignettes/google-authentication-types.html Might have some explanations?

[2022-03-07 15:35] cansavvy commented on #482
This would be very handy to get done because if it works it could eliminate the need for an extra OTTR_Quizzes repository in order to keep the quizzes private.

[2022-03-07 15:56] cansavvy commented on #482
So far, *I think* I'm finding that as long as GH_PAT is set and jhudsl-robot is added as a collaborator, then you can totally have your repository set to private.

Still working on confirming this with more tests.

[2022-03-07 17:24] cansavvy opened #495 "How possible is it to make an existing repo an OTTR repo after it's already created?"
Example scenario: We have a bunch of DataTrail courses that could benefit from OTTR stuff. How possible/easy is it to add the OTTR stuff afterward?

I'm testing this using the downstream PR sync GitHub action: Test-sync

I'm going to see how well this works (or doesn't).

[2022-03-07 17:52] cansavvy commented on #495
This might just work. It works so far.

[2022-03-07 18:16] cansavvy commented on #482
I think a better test is if someone who doesn't have my credentials tries to do this.

[2022-03-07 18:17] cansavvy commented on #460
I think the best strategy for this might be make a standard slide that can be put at the beginning of the course. Kinda like that "For individuals whom:" slide we created.

[2022-03-08 13:04] cansavvy opened #496 "Find a way to put the most common errors in plain language"
There's some of the most common errors that will likely come up again and again with Github actions.

It would be great if we could find a way to print out an interpreted error message of sorts that can make it clear to users what you need to fix.

[2022-03-09 13:56] cansavvy opened #498 "Add guidance on custom domains"
I recently figured out how to set up my own custom domain and it would be good for us to document this process in the wiki.

[2022-03-10 18:50] cansavvy opened #500 "fontawesome already has icons for our use - document"
- https://fontawesome.com/icons

- Bookdown already has icons from here included, we should add some guidance about this.

[2022-03-10 19:38] cansavvy opened #501 "Have URLs periodically checked"
I'd love to have something that periodically checks the urls on my courses even if I haven't filed a pull request and then if can alert me to broken ones that would be perfect.

I know this is possible with GitHub actions, I'd just need to set it up.

[2022-03-10 20:09] cansavvy commented on #496
An easy start to this is documenting these problems here: https://github.com/jhudsl/OTTR_Template/wiki/Most-common-errors-problems

[2022-03-11 00:33] cansavvy opened #502 "Have one core GitHub actions set of files that are called by users's github actions"
Duh, this was in front of my all along and I didn't think of it.

We could reference a main copy of the OTTR github actions that are here and not require people to make copies! This would make it so people can more easily customize files like "pull-request.yml" and wouldn't have to depend on the sync PRs to update the GHA.

Instead `pull-request.yml` would just have a series of things like this:
[

[2022-03-11 01:30] cansavvy commented on #502
Publishing the github actions would make them even easier to reference: https://docs.github.com/en/actions/creating-actions/publishing-actions-in-github-marketplace

[2022-03-11 11:35] cansavvy opened #503 "Set up GitHub api retrieval of OTTR courses"
It would be good to know where OTTR has been used. I believe this info is retrievable from the api. I just need to write a script that I can run to retrieve this info.

[2022-03-11 13:39] cansavvy commented on #502
I've started a separate repo for this purpose: https://github.com/jhudsl/OTTR_Actions

The idea would be the core github actions are stored here and then called from course's own repositories. This allows for less redundancy and easier for customizing purposes.

[2022-03-11 13:40] cansavvy commented on #502
Step 1: I'm working on setting up a Reusable workflow: https://docs.github.com/en/actions/using-workflows/reusing-workflows here https://github.com/jhudsl/OTTR_Actions/pulls
Step 2: Re-set pull-request.yml to use those github actions from OTTR_Actions
Step 3: Modify documentation where needed.

[2022-03-22 13:31] cansavvy opened #514 "URL checker action is not cooperating with Rmds anymore"
Even though I've tried going back to earlier versions of https://github.com/urlstechie/urlchecker-action/tree/0.2.3, it still is not cooperating with scanning Rmds anymore. It always tells me "no URLs detected"

I think this is because https://github.com/urlstechie/urlchecker-action/blob/master/entrypoint.sh hasn't frozen what version they use and updates to the python urlchecker pacakge that is u

[2022-03-23 12:55] cansavvy commented on #502
The first half of these actions are on Marketplace: https://github.com/marketplace/actions/ottr-reports Yay!

[2022-03-25 15:40] carriewright11 opened #517 "support for leanpub books"
## Describe the your scope of your content idea
documentation to allow others to know how to use otterpal::bookdown_to_leanpub

[2022-04-01 13:21] cansavvy commented on #514
The fix for this is pushed, I'm just testing it out on various repositories before I send out the next release.

[2022-04-01 13:43] cansavvy commented on #514
It's working! The only thing left is to provide a way for url's to be ignored, but I think this can be a later priority. Going to make a new issue for this.

[2022-04-01 13:43] #514 closed, assigned to nobody

[2022-04-01 13:44] cansavvy opened #519 "Have a way to ignore URLs"
Now that we are using our own `url-check.R` script, we need a way to have urls ignored if needed.

[2022-04-12 19:05] cansavvy opened #528 "Common pitfall: formatting of bookdown.yml"
Another common error that needs to be added to the guide: https://github.com/jhudsl/OTTR_Template/wiki/Most-common-errors-and-pitfalls Basically the formatting of bookdown.yml is a common pitfall

Error in yaml::yaml.load(..., eval.expr = TRUE) :
  Parser error: while parsing a flow sequence at line 4, column 12 did not find expected ',' or ']' at line 11, column 13
Calls: <Anonymous> ... <Anonymo

[2022-04-12 19:21] cansavvy commented on #528
This is added!

[2022-04-12 19:21] #528 closed, assigned to cansavvy

[2022-04-20 07:40] larnsce opened #531 "Plan for Quarto"
## Is your feature request related to a problem? Please describe.

Thank you for this fantastic work. I discovered and read the pre-print with much excitement and am considering using the OTTR_Template for my next course. My feature request is not related to any problem, but rather a question about the direction that the OTTR_Template may take with regard to the newly developed [Quarto publishing

[2022-04-20 15:51] avahoffman commented on #531
@larnsce we are very excited about quarto in general, but haven't discussed it much as a team yet. Thanks for raising this and for engaging with OTTR!

[2022-04-20 16:51] cansavvy commented on #495
It does work. I made a baby OTTR for this scenario.

[2022-04-20 16:51] #495 closed, assigned to cansavvy

[2022-04-20 17:23] cansavvy opened #532 "Explain previews, preview branches, and branches better in the OTTR Guide"
From an OTTR course, there was some confusion about why the published pages don't match the rendered preview. Short answer is: it's not supposed to match.

_Originally posted by @cansavvy in https://github.com/abyzovlab/CNVpytor-course/issues/14#issuecomment-1099601082_

[2022-04-20 17:27] cansavvy commented on #519
This is mostly implemented, but I'm not sure it's working as hoped. I need to do more testing.

[2022-04-20 19:19] cansavvy opened #533 "Documentation about Baby OTTRs/ OTTR Template spinoffs"
- Document the Baby OTTRs that are out there.
- Documenting how baby OTTR's receive syncs
- Document how to make a new baby OTTR spinoff

[2022-04-20 20:00] cansavvy opened #534 "Make an OTTR Website"
We need a way that's easier for people to get acquainted to the purposes and goals of ottr without overwhelming newbies with all the features.

We can use @carriewright11 's OTTR_Template_Website to make this.

I'll look for a domain name to get started.

[2022-04-21 18:26] carriewright11 opened #535 "Set up sync test workflow to use different repo specific settings for syncs"
## Describe the your scope of your content idea
This would make it easier to do small updates to certain OTTR babies - and to specifically tests syncs.

[2022-04-21 19:31] KatherineCox opened #536 "failing tocless render with multiple CSS files"
I'm running into trouble with the tocless render if I have multiple CSS files

## What I'm trying to do:
Currently AnVIL_Template uses a customized css file, but there's really only a couple of things we've changed from OTTR template style.  To make it easier to incorporate OTTR style updates like the great new callout boxes, I thought it would be a good idea to switch back to using the OTTR style

[2022-04-21 21:26] cansavvy commented on #536
Oh yeah, the tocless render depends on the name of the css file being just that one css file. I can make it more accommodating though.

[2022-04-25 15:34] cansavvy commented on #534
domain name is ottrproject.org and here's where I'm working on the website: https://github.com/jhudsl/ottr-website/blob/main/.github/workflows/render-site.yml

[2022-04-29 14:52] cansavvy commented on #534
This is done! it just needs more polishing!

[2022-04-29 14:52] #534 closed, assigned to nobody

[2022-04-29 14:54] cansavvy commented on #496
This is generally done

[2022-04-29 14:54] #496 closed, assigned to nobody

[2022-05-09 20:29] cansavvy opened #539 "Integrate OTTR with bioconductor more"
Leo gave the suggestion of looking into having bioconductor and OTTR more integrated.

For example we could create a function like this: https://rdrr.io/bioc/biocthis/man/use_bioc_github_action.html

To use to "OTTR-fy" a course.

It wouldn't be able to change permissions, but would get someone a lot of the way there.

[2022-05-10 12:58] cansavvy opened #540 "Reorganize Docker images into their own repositories"
https://github.com/jhudsl/ottr_docker

There's a growing need for more spinoff docker images including one that is more bioconductor ready #539

There's no particular reason the dockerfiles need to be in this repository, so it makes sense to remove them from here and organize them in their own repository.

Then we can make the template dockerfile here ready for someone to make changes to.

[2022-05-16 15:26] cansavvy commented on #540
This is done except for documentation

[2022-05-16 15:27] cansavvy opened #543 "Work toward retiring the Wiki in favor of ottrproject.org"
ottrproject.org is more approachable than the wiki of this repository. Eventually we want to retire the wiki here and have everything that we need on ottrproject.org (its github repo is here: https://github.com/jhudsl/ottr-website)

But for now we will keep the wiki alive because it does contain information that is not yet recorded on the website.

[2022-05-18 18:24] cansavvy opened #545 "Make it so Leanpub conversion works correctly even if you put a ? in the title of a chapter"
Write now chapters get converted to md files which get written in the Book.txt but apparently leanpub doesn't like if filenames have `?` in them. So this makes it very annoying to manually switch file names for without `?`.

Instead we should just have the md files made so it deletes question marks from the filenames.

[2022-06-02 14:10] cansavvy commented on #519
This hasn't been working, I need to reevaluate. See https://github.com/jhudsl/ottr-website/pull/10/ as an example of how its not working.

[2022-06-13 13:05] cansavvy opened #547 "If you delete the docs or manuscript folders -- they should be able to re-make themselves"
But currently that is not the case:

https://github.com/datatrail-jhu/00_intro/runs/6861741243?check_suite_focus=true

Need to fix this.

Basically if you want to do a hard refresh of the manuscript or docs folders, you should be able to delete them, then re-run OTTR and have everything refresh itself. But that doesn't work currently.

[2022-06-13 13:26] cansavvy opened #549 "Sometimes Leanpub render doesn't work if render bookdown is a step behind"
https://github.com/datatrail-jhu/00_intro/runs/6862135022?check_suite_focus=true

I think this is related to it depending on `gh-pages` to be published which it doesn't have finished publishing if changes to the bookdown have just been pushed.

[2022-06-13 13:27] cansavvy commented on #549
Really, we should have Leanpub render dependent on gh-pages finishing publishing. Which means we should probably incorporate gh-pages into the render-all.yml workflow.

[2022-06-13 16:44] cansavvy commented on #543
This is generally been completed with https://github.com/jhudsl/ottr-website/pull/9 and https://github.com/jhudsl/ottr-website/pull/10

But I don't want to delete the wiki just yet in case we need to find something else from it.

[2022-06-13 16:44] cansavvy commented on #543
I'm going to close the issue though.

[2022-06-13 16:44] #543 closed, assigned to nobody

[2022-06-13 16:45] cansavvy commented on #533
This will need to go here: https://github.com/jhudsl/ottr-website

[2022-06-13 16:46] cansavvy commented on #532
Attempted to address this. Will close for now and reopen if we feel its still an issue.

[2022-06-13 16:46] #532 closed, assigned to nobody

[2022-06-13 17:12] #545 closed, assigned to nobody

[2022-06-15 14:05] #519 closed, assigned to cansavvy

[2022-06-15 14:07] #460 closed, assigned to nobody

[2022-06-15 14:07] cansavvy commented on #460
This has been completed by adding it to the index.Rmd template

[2022-08-08 16:40] avahoffman opened #551 "["Problem"] When to authenticate inside workflows??"
It's unclear when we need to refer to the token in this repo's workflows.

Example:

The following works fine with all jhudsl repos (AFAIK):

https://github.com/jhudsl/OTTR_Template/blob/ca0aa220cbc0b4dc9e221dbe571de85d6af2795b/.github/workflows/pull_request.yml#L11-L19

However, a [fhdsl repo](https://github.com/fhdsl/DaSL_Collection) required ([permalink](https://github.com/fhdsl/DaSL_Collection

[2022-08-25 17:33] avahoffman opened #557 "Who should be gitblamed for syncs?"
Noticed that @cansavvy you are comming up as committing the changes when I launch a sync from AnVIL Template.

It should probably be github actions, jhudsl robot, or ideally, whoever launched the sync so we can trace changes back.

![image](https://user-images.githubusercontent.com/15618412/186731717-00f0d5d1-d245-4f8b-ad36-a12ebbca58aa.png)

[2022-08-25 17:36] avahoffman opened #558 "`test-send-updates.yml` tests on all groups"
if I have two groups on the sync.yml eg
[code]

`test-send-updates.yml` will test everything, not just the appropriate group.

I was pretty confused why this was happening until I dug into the `switch-sync-repo.R` file, so might be worth adding some FYI or building out this capability a bit more.

[2022-08-25 18:16] cansavvy commented on #557
I think all we need to switch this is change the PAT to be from jhudsl-robot. Right now our jhudsl organization is using a PAT from my account.

[2022-08-25 18:17] cansavvy commented on #557
I just changed the GH_PAT for this organization to be from jhudsl-robot so let's see if that fixes this.

[2022-08-25 19:38] avahoffman commented on #557
Yep! Fixed! https://github.com/jhudsl/AnVIL_Template_Test/pull/12

[2022-08-25 19:38] #557 closed, assigned to nobody

[2022-08-25 21:54] KatherineCox commented on #557
Nice!  I'd been meaning to ask about that.

[2022-08-27 06:13] cansavvy opened #559 "Delete the preview branch at the start of pull request.yml to get a fresh start"
Sometimes the merges get too gnarly and it makes sense to manually delete the preview branch and run the pull request tests again.

But this got me thinking, I don't think there's any downside for just automatically starting with a fresh preview branch every time. So I'm going to try that out on a course I'm working on and see if it helps avoid git entanglements.

[2022-09-02 22:41] avahoffman commented on #451
Closing - no longer relevant

[2022-09-02 22:41] #451 closed, assigned to avahoffman

[2022-09-02 23:38] avahoffman opened #561 "Possible bug / security issue with checkout action"
@cansavvy wanted to make sure you saw this.

We were having some render-all workflows failing at git checkout:
https://github.com/jhudsl/GDSCN_Book_Statistics_for_Genomics_scRNA-seq/runs/8164703061?check_suite_focus=true
https://github.com/jhudsl/GDSCN_Book_Statistics_for_Genomics_scRNA-seq/pull/11

[code]

This looks similar to the issue [here](https://github.com/peter-evans/create-pull-request/i

[2022-09-03 00:15] cansavvy commented on #561
Thanks for digging into this, @avahoffman If it's something that makes OTTR unusable, we should probably implement this fix and then we can undo the fix after the checkout bug is fixed.

[2022-09-03 00:24] avahoffman commented on #561
@cansavvy I'm not really sure what's causing it. I relaunched a render-all in another repo and it was fine 🤔 Maybe something specific to the syncs?

[2022-09-03 00:51] cansavvy commented on #561
Are you saying this because it has only happened with syncs and your regular PRs are running fine?

[2022-09-03 01:00] cansavvy commented on #561
https://github.com/jhudsl/Documentation_and_Usability/runs/8165984943?check_suite_focus=true

This problem doesn't arise in syncs from general OTTR_Template. I think it may be something related to the pull_request.yml changes in AnVIL_Template. Happy to help look into it further. But I do believe this means this is not an OTTR_Template problem generally but an AnVIL_Template problem.

But let's ke

[2022-09-03 01:10] avahoffman commented on #561
That's what I thought initially, but it's failing on a part of pull-request that we haven't changed.

I encountered a similar problem with an OTTR repo before that was fixed by changing the action version. [The initial issue here seems to be related to the version of git running on the container](https://github.com/peter-evans/create-pull-request/issues/1170).

I don't think we need to do anything

[2022-09-03 01:15] cansavvy commented on #561
There is an action required and ran before the render-preview that could affect it though. But I haven't looked into this enough.

So far, I'm not able to replicate the error so far which makes it all the more mysterious. I'll look into it later.

Thanks for documenting it, I agree that's a good call!

[2022-09-03 01:23] avahoffman commented on #561
so mysterious haha. I'll look into it more time permitting!

[2022-09-21 00:35] cansavvy opened #563 "URL checker for GitHub pages domains doesn't fail in the way we'd expect"
See here for example: https://github.com/jhudsl/OTTR_Template_Website/actions/runs/3092279525/jobs/5003367582

This URL: https://jhudatascience.org/intro_to_r2/ is broken in the meaningful sense, but according to the test we use:

[code]

It does find the host of the website so it doesn't classify it as a broken URL.

So, we need to think if there's a way to catch these types of URLs as well, espe

[2022-09-21 00:36] cansavvy commented on #563
@carriewright11 Feel free to add to this issue if there's something else I missed.

[2022-09-21 17:14] carriewright11 commented on #563
This one also didn't get caught by the check: https://bit.ly/ITCR_2023, so perhaps this a more general 404 issue?

[2022-09-21 17:29] carriewright11 commented on #563
hopefully we can also catch issues with pages not being set up correctly with _site.yml ... currently it appears that the just show up as a 404 if you click on that tab

[2022-09-26 17:56] #563 closed, assigned to nobody

[2022-10-06 15:47] cansavvy opened #572 "Get rid of the scripts/ folder"
All the things in the scripts folder (now that the checks scripts are in ottr-reports) should be able to be gotten rid of by putting them in the ottrpal package or including them in the github workflow yamls.

This will take a little bit of reconfiguring but will be worth it because we won't need to sync the scripts folder anymore. I'm concerned that people out there have other things in their scr

[2022-10-06 16:42] cansavvy opened #575 "Have better testing for transfer-rendered.yml"
transfer-rendered.yml has been ran in quite a bit on this repo pair because we almost never merge changes to the Rmds here.

See this mini saga: https://github.com/fhdsl/FH_Cluster_Guide/pull/40

But we should figure out a way to make sure that this GHA is still working even when we aren't pushing changes to the Rmds. Might be a tad tricky to make sure it does that here but doesn't continue to ove